	<div class="col-md-9">

    <div class="row  margin-bottom-30">    
        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a data-toggle="modal" data-target=".bs-example-modal-lg" >
                <img class="img-responsive md-margin-bottom-10" src="/assets/img/coach.png" alt="">
                Karch Kiraly
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a data-toggle="modal" data-target=".bs-example-modal-lg" >
                <img class="img-responsive md-margin-bottom-10" src="/assets/img/coach.png" alt="">
                Randy Stoklos
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a data-toggle="modal" data-target=".bs-example-modal-lg" >
                <img class="img-responsive md-margin-bottom-10" src="/assets/img/coach.png" alt="">
                Sinjin Smith
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a data-toggle="modal" data-target=".bs-example-modal-lg" >
                <img class="img-responsive md-margin-bottom-10" src="/assets/img/coach.png" alt="">
                Mike Dodd
              </a>
            </div>
          </div>
        </div>

    </div>


	<!-- coach bio modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
					<h4 id="myLargeModalLabel2" class="modal-title"><span aria-hidden="true" class="icon-sport-008"></span> Coach Profile</h4>
				</div>
				<div id="coach-profile-content" class="modal-body">
					<app-coaches-bio></app-coaches-bio>
				</div>
			</div>
		</div>
	</div>
	<!-- /coach bio modal -->

</div>
  
<app-coaches-side-menu></app-coaches-side-menu>