<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Junior National Championships</h3>
			</div>
			<div class="panel-body">

        <p>The 2020 Junior National Championships will be held in Dallas, Texas from June 25 to July 4. Pumas is committed to qualifying teams and attending if there is enough interest and staffing. Teams would be constructed from the top teams in each age division dependent upon player availability and commitment. More information about the tournament itself can be found at the USAV web site <a href="https://www.teamusa.org/usa-volleyball/calendar/2020/june/25/gjnc-2020" target="_blank">here</a></p>

        <p>If you are considering playing at the Junior Nationals This would be an additional commitment both financially and scheduling that would extend the JO season.</p>

        <p>There will be an additional cost above the normal season fee. This cost reflects:
          <ul>
            <li>Possible 1 Multiday tournament Memorial Day weekend (3 day tournament, 4 days with travel)</li>
            <li>2020 Junior National Tournament (4 day tournament, 5-6 days with travel)</li>
            <li>Transportation rental during tournaments (if needed)</li>
            <li>Coach(s)</li>
            <li>Hotel costs</li>
            <li>Additional month of practices</li>
          </ul>

        <p>More detailed information and estimated costs will be available in the end of January, beginning of February. See the USAV web site for more information: 
            <a href='https://www.teamusa.org/usa-volleyball/calendar/2020/june/25/gjnc-2020' target='_blank'>https://www.teamusa.org/usa-volleyball/calendar/2020/june/25/gjnc-2020</a>
        </p>
      </div>
    </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
