	<div class="col-md-9">
			<!-- Default Content Boxes -->
			<div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
				<div class="col-sm-2 sm-margin-bottom-40">&nbsp;</div>
        <div class="col-sm-4 sm-margin-bottom-40">
					<h2 class="heading-sm overflow-h">
						<i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-bullhorn"></i>
						<span>Club Director </span>
					</h2>
					<hr class="no-margin margin-bottom-10">
					<p>
					<i class="fa fa-user"></i> Stephen Boyle<br/>
					<a href="mailto:PumasVolleyballClub@gmail.com"><i class="fa fa-envelope"></i> PumasVolleyballClub@gmail.com</a><br/> 
					<a href="tel:+1-617-285-1362"><i class="fa fa-phone"></i> 617-285-1362</a><br/>
					</p>
				</div>
        
				<div class="col-sm-4 sm-margin-bottom-40">
					<h2 class="heading-sm overflow-h">
						<i class="icon-custom rounded-x icon-sm icon-bg-u fa fa-money"></i>
						<span>Payments </span>
					</h2>
					<hr class="no-margin margin-bottom-10">
					<p>Make all checks payable to "PVC"<br/>
						<address>
							<strong>PVC</strong><br>
							22 Marblehead Street<br>
							North Andover, Ma 01845<br>
						</address>
				</div>
        <div class="col-sm-2 sm-margin-bottom-40">&nbsp;</div>
			</div>
			<!-- End Default Content Boxes -->
	</div>
			<div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Club Info <i class="fa fa-info-circle" aria-hidden="true"></i></h2>

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-about" routerLink="/club-about">About</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-bod" routerLink="/club-bod">Board Of Directors</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-contact" routerLink="/club-contact">Contact</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-directions" routerLink="/club-directions">Directions</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
				</div>

			</div>

	</div>