	<div class="col-md-9">

		<div class="row">
      <br />
			<div class="col-sm-6 col-sm-offset-3">
				<div class="service-block-v1">
					<i class="rounded-x icon-camera"></i>
					<h2 class="text-center"> Pumas Off The Court</h2>
				</div>
			</div>
		</div>
		<br />

    <div class="row  margin-bottom-30">    
        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a href="/gallery-off-court/2016" routerLink="/gallery-off-court/2016" >
                <img class="img-responsive" src="/assets/img/photo-gallery/off-the-court/2016/thumbnails/SS 3rd Queen of the Beach.jpg" width="160" height="120" alt="">
                2016 Off The Court
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a href="/gallery-off-court/2017" routerLink="/gallery-off-court/2017" >
                <img class="img-responsive" src="/assets/img/photo-gallery/off-the-court/2017/thumbnails/VBMD-BT-3-7.jpg" width="160" height="120" alt="">
                2017 Off The Court
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-camera sport-icon-default"></span>
              <br/>2018 Off The Court
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-camera sport-icon-default"></span>
              <br/>2019 Off The Court
            </div>
          </div>
        </div>                
    </div>

	</div>

  <app-gallery-side-menu></app-gallery-side-menu>