			<!-- row 1 -->
			<div class="row news-v1">
				<!-- item 1 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><span aria-hidden="true" class="icon-sport-065 sport-icon-default"></span></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center" id="#2017tryouts">2017 Season Tryouts</h2>
						<p>Tryout registration is now open! Program, cost and tryout information has been updated on the website for the 2017 season.
							<ul>
								<li>Open tryouts will be held Sunday 11/13 and Sunday 11/20.</li>
								<li>Club tryouts will be held Sunday 11/27 and Saturday 12/3.</li>
							</ul>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> October 11, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 1 -->

				<!-- item 2 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center" id="#2017tournaments">2017 Tournament Dates Announced</h2>
						<p>Tournament dates and locations for Club and Open teams for the 2017 season have been set. These include NERVA, optional regaional andd national championships. See the <a href="season-tournaments.html"> tournament schedule</a> for more details.  
						</p>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> Sept 1, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 2 -->

				<!-- item 3 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><span aria-hidden="true" class="icon-sport-008 sport-icon-default"></span></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center" id="#2017coaches">Looking For Coaches</h2>
						<p>Pumas Volleyball Club is always looking for coaches (head or assistant). If you have any volleyball experience, please see our <a href="interested-in-coaching.html">Looking for Coaches</a> page and <a href="#">contact the director</a> for more specific information.
						</p>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> Aug 17, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 3 -->

			</div>
			<!-- end row 1 -->

			<!-- row 2 -->
			<div class="row news-v1">
				<!-- item 1 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><i class="fa fa-photo" aria-hidden="true"></i></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center">2017 Season Tryouts</h2>
						<p>Tryout registration is now open! Program, cost and tryout information has been updated on the website for the 2017 season.
							<ul>
								<li>Open tryouts will be held Sunday 11/13 and Sunday 11/20.</li>
								<li>Club tryouts will be held Sunday 11/27 and Saturday 12/3.</li>
							</ul>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> October 11, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 1 -->

				<!-- item 2 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><i class="fa fa-photo" aria-hidden="true"></i></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center">2017 Season Tryouts</h2>
						<p>Tryout registration is now open! Program, cost and tryout information has been updated on the website for the 2017 season.
							<ul>
								<li>Open tryouts will be held Sunday 11/13 and Sunday 11/20.</li>
								<li>Club tryouts will be held Sunday 11/27 and Saturday 12/3.</li>
							</ul>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> October 11, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 2 -->

				<!-- item 3 -->
				<div class="col-md-4 news-v3">
					<h1 class="text-center"><i class="fa fa-photo" aria-hidden="true"></i></h1>
					<div class="news-v3-in-sm bg-color-light">
						<h2 class="text-center">2017 Season Tryouts</h2>
						<p>Tryout registration is now open! Program, cost and tryout information has been updated on the website for the 2017 season.
							<ul>
								<li>Open tryouts will be held Sunday 11/13 and Sunday 11/20.</li>
								<li>Club tryouts will be held Sunday 11/27 and Saturday 12/3.</li>
							</ul>
						<ul class="list-inline news-v1-info">
							<li><span>By</span> Mike Ezekiel</li>
							<li>|</li>
							<li><i class="fa fa-clock-o"></i> October 11, 2016</li>
						</ul>						
					</div>
				</div>
				<!-- end item 3 -->

			</div>
			<!-- end row 2 -->
