<div class="col-md-9">
		<div class="panel panel-grey equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">In-House Skills Program</h3>
			</div>
			<div class="panel-body">
        <p>Our In-house Skills Program is for those for those players that want to practice but not travel for tournaments. There will be two 8 week sessions with each session lasting 2 - 2 1/2 hours. There are no tryouts for this program and all are welcome, but we are limited in court space so registration will be stopped when we are full. Practices will be on Saturdays.</p>
        <br />
        <dl class="dl-horizontal">
          <dt>What will be Covered:</dt>
          <dd>Half of the time will be spent on individual skills (passing, serving, setting, hitting) and the other half will be on game skills (rotations, position responsibilities, game play).</dd>

          <dt>Session Groups:</dt> 
          <dd>Will be grouped by age. Adjustments may be made according to current skill level. There will be up to 15 athletes per court.</dd>

          <dt>Cost:</dt> 
          <dd>$175 per session. This covers the cost of court and coaches fees. This fee is not prorated if you miss any sessions after you start.</dd>

          <dt>Location:</dt> 
          <dd>TBD. Will be in Lawrence or Lowell at one of our facilities.</dd>

          <dt>Coaches:</dt> 
          <dd>Our Pumas Coaches will be the skills program coaches. We will have at least one per court but try to have two per court.</dd>

          <dt>USAV Registration:</dt> 
          <dd>All participants must be USAV registered to participate. This is a $50 nonrefundable fee that provides our insurance (among other things). Those of you who tried out for a club team already have this. Print out your current USAV card and bring with you to the first practice. If you have not registered yet, go to our USAV registration page to start.</dd>

          <dt>Program Registration:</dt> 
          <dd>You can register anytime on our registration page. Make sure you are signing up for the in-house skills program. There is no tryout fee for this program. Registration deadline will be announced soon for for the first session.</dd>

          <dt>Start Date:</dt> 
          <dd>Will be announced soon for both session one and two.</dd>

          <dt>Equipment to Bring:</dt> 
          <dd>Shorts, t-shirt, volleyball shoes, knee pads (recommended), sweats (if needed), water.</dd>
        </dl>
      </div>
    </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
