<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">COED In-House Skills Program</h3>
			</div>
			<div class="panel-body">
        <p>Our In-house Skills Program is for those for those players that want to practice but not travel for tournaments. There will be one 6 week session with each practice lasting 2 hours. There are no tryouts for this program and all are welcome. Players on competitive teams, who want to use this opportunity to get more practice time, can register as well. We are limited in court space so registration will be stopped when we are full. Practices will be on Sundays at <a href="/club-directions" routerLink="/club-directions">Lowell Catholic HS</a> from 8:30 am - 10:30 am</p>
 
        <div class="alert alert-info">
          <h4>NEW for 2019-20 Season</h4>
          <p>Starting with the 2019-20 Season, the In-House Skills Program will be COED.</p>
        </div>

        <dl class="dl-horizontal">
          <dt>What will be Covered:</dt>
          <dd>Most of the time will be spent on individual skills (passing, serving, setting, hitting) and then learning how to apply those skills in game-like situations. </dd>

          <dt>Session Groups:</dt> 
          <dd>Will be grouped by age. Adjustments may be made according to current skill level. There will be up to 15 athletes per court.</dd>

          <dt>Ages:</dt>
          <dd>The Skills program is designed for athletes ages 14 and older.</dd>

          <dt>Cost:</dt> 
          <dd>$200 for the session. This covers the cost of court and coach's fees. This fee is not prorated if you miss any sessions after you start.</dd>

          <dt>Location + Time:</dt> 
          <dd>Sundays at <a href="/club-directions" routerLink="/club-directions">Lowell Catholic HS</a> from 8:30 am - 10:30 am</dd>

          <dt>Coaches:</dt> 
          <dd>Our Pumas Coaches from the competition teams are also our skills program coaches. There will be at least one coach per court but we try to have two per court.</dd>

          <dt>USAV Registration:</dt> 
          <dd>Participants must be a registered USAV member to participate. Available USAV membership options:
            <ul>
              <li>If also doing a competition team at Pumas or another club then purchase a full USAV membership ($60) </li>
              <li>If just doing the COED skills session in Dec/Jan at most then purchase the tryout membership ($15). This membership is only good until 1/31/20.</li>
            </ul>
            After you register the club director will send you information on the USAV membership available to you.
          </dd>

          <dt>Program Registration:</dt> 
          <dd>You can register for the program now on our <a href="/tryouts-registration" routerLink="/tryouts-registration">registration page</a>. Make sure you are signing up for the In-house skills program. There is no tryout fee for this program. Registration deadline will be announced once the session is filled.</dd>

          <dt>Session Date:</dt> 
          <dd>
            <ul>
              <li>Session 1: 12/15/19 – 1/26/20</li>
            </ul>
          </dd>

          <dt>Equipment to Bring:</dt> 
          <dd>Shorts, t-shirt, volleyball shoes, knee pads (recommended), sweats (if needed), refillable water bottle.</dd>

        </dl>
      </div>
    </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
