<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">In-House Skills Program</h3>
			</div>
			<div class="panel-body">
        <p>Our In-house Skills Program is for those for those players that want to practice but not travel for tournaments. There will be two 5 week sessions with each session lasting 2 hours. There are no tryouts for this program and all are welcome. Players on competitive teams, who want to use this opportunity to get more practice time, can register as well. We are limited in court space so registration will be stopped when we are full. Practices will be on Sunday mornings 8:00-10:00 at the Lawrence Boys and Girls Club.</p>
        <br />
        <dl class="dl-horizontal">
          <dt>What will be Covered:</dt>
          <dd>Most of the time will be spent on individual skills (passing, serving, setting, hitting) and small amount will be on game skills during scrimmage (rotations, position responsibilities, game play). </dd>

          <dt>Session Groups:</dt> 
          <dd>Will be grouped by age. Adjustments may be made according to current skill level. There will be up to 15 athletes per court.</dd>

          <dt>Cost:</dt> 
          <dd>$175 per session. This covers the cost of court and coach's fees. This fee is not prorated if you miss any sessions after you start.</dd>

          <dt>Location + Time:</dt> 
          <dd><a href="/club-directions" routerLink="/club-directions">Lawrence Boys + Girls Club 136 Water St. Lawrence</a>. From 8:30 am -10:30 am. </dd>

          <dt>Coaches:</dt> 
          <dd>Our Pumas Coaches will be the skills program coaches. We will have at least one per court but try to have two per court.</dd>

          <dt>USAV Registration:</dt> 
          <dd>If you are planning on attending <strong>both sessions</strong> those participants must be a full registered USAV member to participate. This is a $60 nonrefundable fee that provides our insurance (among other things). Those of you who tried out for a club team already have this. Print out your current USAV card and bring with you to the first practice. If you have not registered yet, go to our USAV registration page to start. If you only plan on attending <strong>one session</strong>, then contact the club director for information on the limited USAV membership.</dd>

          <dt>Program Registration:</dt> 
          <dd>You can register for the program anytime on our registration page. Make sure you are signing up for the In-house skills program. There is no tryout fee for this program. Registration deadline will be announced once the session is filled.</dd>

          <dt>Session Dates:</dt> 
          <dd>
            <ul>
              <li>Session 1: 12/2/18 - 1/6/19 (except 12/23)</li>
              <li>Session 2: 1/13 - 2/17 (except 2/10)</li>
            </ul>
          </dd>

          <dt>Equipment to Bring:</dt> 
          <dd>Shorts, t-shirt, volleyball shoes, knee pads (recommended), sweats (if needed), water.</dd>

          <dt>Program Registration:</dt> 
          <dd>Will Open on 11/1. There is no fee to register and no cuts made in the program.</dd>
        </dl>
      </div>
    </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
