<div class="col-md-9">
		<div class="panel panel-grey equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryout Registration</h3>
			</div>
			<div class="panel-body">
				<p>Pumas believe that the ideal experience for the athlete, and the club, is for the athlete to play at their appropriate age group. Refer to the <a href="/club-faq" routerLink="/club-faq">Frequently Asked Questions</a> for a discussion on playing-up an age group and <a href="/tryouts-guidelines" routerLink="/tryouts-guidelines">Tryout Guidelines</a> for a guide to skill and experience levels for each division and age group.</p>

				<p>Players are strongly encouraged to plan on attending all appropriate tryout sessions, but must attend at least one. Comprehensive data is collected from each tryout and used to make final decisions on team placements and cuts. The tryouts are competitive, especially at the older divisions, and cuts will be made.</p>

				<p>Any athlete who does not make an Open team will be invited to the second Club division tryouts at no additional fee. Refer to the <a href="/schedule-tryouts" routerLink="/schedule-tryouts">Tryout Schedule</a> to determine times and locations of the tryouts for your age group and selected division. Refer to <a href="/club-faq" routerLink="/club-faq">Frequently Asked Questions</a> for a discussion on playing-up.</p>

				<p>There are several important steps you must follow to ensure you are ready to tryout and become a player on a Pumas volleyball team.</p>

				<h4>Tryout Registration Process</h4>
				<ol>
					<li>Determine where you fit in the program:
						<ul>
							<li>What age group are you in? **TODO** Age Tester</li>
							<li>Do you want to play in the <a href="/programs-club" routerLink="/programs-club">Club</a> or <a href="/programs-open" routerLink="/programs-open">Open</a> division?</li>
					</ul>
					</li>
					<li><a href="#">Register (join or renew) with USAV</a> and print out your USAV card **TODO** Add USAV Register</li>
					<li>Completely fill out a <a href="https://webpoint.usavolleyball.org/Files/Internal_Files/2017%20Player%20Medical%20Release%20w%20ClubTeam%20WITHOUT%20Notary.pdf">USAV medical form</a></li>
					<li>Register with Pumas and pay tryout fee at <a href="https://pumasvolleyball.sportngin.com/register/form/855460302">SportNgin</a></li>
					<li>Show up for tryouts with all of the following:
						<ul>
							<li>$100.00 Season Deposit (refer to <a href="/programs-cost" routerLink="/programs-cost">Program Costs</a> for more information)</li>
							<li>Completely filled out medical form from step 3.</li>
							<li>Printout of your USAV membership card from step 2.</li>
							<li>Open players only - signed Scheduling Commitment contract. Click <a href="http://www.pumasvolleyball.org/Forms/FormPlayerCommitmentAgreement.pdf">here</a> to download the form.</li>
						</ul>
					</li>
				</ol>
      </div>
    </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>