	<div class="col-md-9">
					
          <div class="panel panel-black margin-bottom-40">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-users"></i> 2019-20 Board of Directors</h3>
			</div>
			<div class="panel-body">

				<table class="table">
					<thead>
						<tr>
							<th width="50%">Position</th>
							<th width="50%">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><i class="fa fa-bullhorn" aria-hidden="true"></i> President</td>
							<td>Stephen Boyle</td>
						</tr>
						<tr>
							<td><i class="fa fa-gavel" aria-hidden="true"></i> Vice President</td>
							<td>Bruce Shainwald</td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Secretary</td>
							<td>Jim Ray</td>
						</tr>
						<tr>
							<td><i class="fa fa-university" aria-hidden="true"></i> Treasurer</td>
							<td>Miriam Moodley</td>
						</tr>
						<tr>
							<td><i class="fa fa-user"></i> Board Member</td>
							<td>Mike Ezekiel</td>
						</tr>
						<tr>
							<td><i class="fa fa-user"></i> Board Member</td>
							<td>Brianna Karpinski</td>
						</tr>
						<tr>
							<td><i class="fa fa-user"></i> Board Member</td>
							<td>Steve McRoy</td>
						</tr>
						<tr>
							<td><i class="fa fa-user"></i> Board Member</td>
							<td>Bonnie Zeigler</td>
						</tr>                                                                                                                              
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<a href="mailto:Board@pumasvolleyball.org"><i class="fa fa-envelope"></i> Contact the Board of Directors</a>
			</div>
		</div>

          <div class="panel panel-black margin-bottom-40">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-users"></i> 2019-20 Operating Committee</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th width="50%">Position</th>
							<th width="50%">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span aria-hidden="true" class="fa fa-pencil-square-o"></span> Compliance Coordinator</td>
							<td>Tina Miller</td>
						</tr>
						<tr>
							<td><span aria-hidden="true" class="icon-sport-065"></span> Equipment Coordinator</td>
							<td>Jim Ray</td>
						</tr>
						<tr>
							<td><i class="fa fa-university" aria-hidden="true"></i> Finance</td>
							<td>Miriam Moodley</td>
						</tr>
						<tr>
							<td><span aria-hidden="true" class="icon-sport-065"></span> Skills Coordinator</td>
							<td>Mike Ezekiel</td>
						</tr>
						<tr>
							<td><span aria-hidden="true" class="icon-sport-004"></span> Tournament Coordinator</td>
							<td>Stephen Boyle + Brianna Karpinski</td>
						</tr>
						<tr>
							<td><span aria-hidden="true" class="icon-sport-008"></span> Tryout Coordinator</td>
							<td>Stephen Boyle</td>
						</tr>                  
						<tr>
							<td><span aria-hidden="true" class="icon-sport-011"></span> Uniforms</td>
							<td>Stephen Boyle</td>
						</tr>
						<tr>
							<td><i class="fa fa-laptop" aria-hidden="true"></i> Web Site</td>
							<td>Mike Ezekiel</td>
						</tr>                                                                                              
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<a href="mailto:OperatingCommittee@pumasvolleyball.org"><i class="fa fa-envelope"></i> Contact the Operating Committee</a>
			</div>						
		</div>


	</div>

<app-club-side-menu></app-club-side-menu>