<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">Miscellaneous Volleyball Links</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            
            <div class="col-md-6">
              <h4>Volleyball Equipment</h4>
              <ul>
                <li><a href="http://www.whirlawaysports.com/" target="_blank">Whirlaway Sports</a> - Methuen, MA</li>
                <li><a href="http://www.allvolleyball.com" target="_blank">All Volleyball</a></li>
                <li><a href="http://www.volleyhut.com/" target="_blank">Volleyball Hut</a></li>
                <li><a href="http://www.midwestvolleyball.com/" target="_blank">Midwest Volleyball</a></li>
                <li><a href="http://www.volleyball.org/balls.html" target="_blank">Buying a Volleyball</a></li>
              </ul>

              <h4>Volleyball Rules</h4>
              <ul>
                <li><a href="http://www.volleyballreftraining.com/rules_interpretations_indoor.php" target="_blank">Indoor, USA</a></li>
                <li><a href="http://www.volleyballreftraining.com/training_materials_junior.php" target="_blank">Referee Training</a></li>
              </ul>
          </div>

            <div class="col-md-6">
              <h4>Volleyball Organizations</h4>
              <ul>
                <li><a href="http://www.nervajuniors.org/" target="_blank">NERVA</a> - Governing body for Junior Olympic volleyball</li>
                <li><a href="http://www.volleyball.org/" target="_blank">Volleyball Worldwide</a> - Everything volleyball</li>
                <li><a href="http://www.usavolleyball.org/" target="_blank">USA Volleyball</a></li>
                <li><a href="http://www.avp.com/" target="_blank">Beach Volleyball</a> - Volleyball Professionals</li>
                <li><a href="http://www.yankee.org/" target="_blank">Yankee Volleyball</a> - Volleyball in New England</li>
                <li><a href="http://www.volleyhall.org/" target="_blank">Volleyball Hall of Fame</a></li>
              </ul>

              <h4>Volleyball Media</h4>
              <ul>
                <li><a href="http://www.volleyball.org/volleyballmag/index.html" target="_blank">Volleyball Magazine</a></li>
                <li><a href="http://tvlistings.zap2it.com/tvlistings/ZCSearch.do?searchTerm=Volleyball&searchType=simple" target="_blank">Zap2it</a> - TV Schedules</li>
              </ul>

          </div>

        </div>
      </div>
    </div>
  </div>

<app-links-side-menu></app-links-side-menu>