<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Club Division</h3>
    </div>
    <div class="panel-body">
      <p>
        The Club Division has the largest participation from the Pumas
        Volleyball Club. About 83% of the girls play in this division. These
        teams will now practice twice per week; Once on Saturday mornings or
        afternoons for 2-1/2 hours (sometimes Sunday in an emergency) and once
        on Tuesdays evenings for 2 hours. Teams are formed by age, skill level
        demonstrated at tryouts, and the athletes' previous experience with
        Pumas. No teams are formed in advance of tryouts.
      </p>

      <p>
        The Club season runs from October and November tryouts through the first
        weekend in May for most teams. Some teams may play through the end of
        May. Practices start in December and continue almost every Saturday and
        Tuesday through the end of the season. There are five to six Sunday
        single day tournaments and two to three multi-day tournament in the New
        England area. Club coaches may decide to participate in one to two other
        additional multi-day tournaments with that cost being paid by the team.
        The extra tournaments are not included in the season fee, and are
        voluntary. Parents provide transportation to practices and tournaments.
        Most Club tournaments are within an hour's drive, but some may be up to
        2.5 hours away. Players should try to plan their vacations around
        practices and tournaments to the extent possible. During registration,
        players will be asked to indicate their tournament availability. Your
        availability and scheduling commitment level can affect what team you
        are placed onto.
      </p>

      <div class="alert alert-info">
        <h4>Practices for Club Teams in December 2020</h4>
        <p></p>
        <ul>
          <li>
            Saturdays starting 12/5 - Times and location TBD after teams are
            made.
          </li>
          <li>Tuesdays Schedule is TBA. Anticipating 12/8 or 12/15 start.</li>
        </ul>
        <br />
        <p>
          Please be available to practice on each of these days. They are very
          important as the first tournament comes quickly in January.
        </p>
      </div>

      <h4>Time Commitment Expectations</h4>

      <h6>Players are expected to attend all practices and tournaments</h6>

      <p>
        Homework, school projects, and studying for tests are all excellent
        activities for your academic careers but are rarely intrusive upon JO
        volleyball tournaments and practices if you are planning and scheduling
        your time properly. Completing your academic work is the priority and
        our schedules are set up months in advance to allow you to do that.
        Learning to balance your time to get all of your academic work done
        should be taken very seriously. A coach should not find out the morning
        of a practice or tournament that you will not be able to attend. If you
        have a conflict with a tournament please notify your coach at least 30
        days in advance. If you have a conflict with a practice, please notify
        your coach at least 24 hours before practice. Your coaches are planning
        your practice ahead of time knowing who will be attending. Failure to
        notify your coach can have a negative effect on the whole teams practice
        session.
      </p>

      <h6>If injured, you are still expected to be at practice</h6>

      <p>
        Of course, we would never ask you to sit at the gym if it proved to be
        detrimental to your recovery, but we would ask that you still consider
        your commitment to the team and to the club. There are many things to be
        learned by sitting on the sidelines listening or helping assist a coach
        while recovering from an injury.
      </p>

      <h6>If you are on a school sports team</h6>

      <p>
        We understand the desire to play as many sports as possible. We have had
        many multi-sport athletes in the past and have a few recommendations
        that will make it easier for you to balance your schedule or make those
        tough decisions about what to play. Playing multiple sports in one
        season requires:
      </p>
      <ul>
        <li>A greater vigilance in balancing your schedule.</li>
        <li>
          It is important that you be in touch with your high School coach (and
          let Pumas Volleyball Club know) so they understand you are competing
          in more than one sport.
        </li>
        <li>
          Know all your sports schedules for practices and competitions before
          the season starts. This way you can research if you have major
          conflicts that will prohibit you from competing in either sport.
        </li>
        <li>
          Here are some articles on Multisport Athletes and Sport Specialization
          that may help you decide what to do.
          <ul>
            <li>
              <a
                href="http://www.idahoyouthsoccer.org/UserFiles/file/Soccer University/Parents_MultipleSports.pdf"
                target="_blank"
                >http://www.idahoyouthsoccer.org/UserFiles/file/Soccer
                University/Parents_MultipleSports.pdf</a
              >
            </li>
            <li>
              <a
                href="http://www.sportsdadhub.com/kids-playing-multiple-sports-too-much-of-a-fun-thing/"
                target="_blank"
                >http://www.sportsdadhub.com/kids-playing-multiple-sports-too-much-of-a-fun-thing/</a
              >
            </li>
            <li>
              <a
                href="http://www.nfhs.org/CoachingTodayFeature.aspx?id=5501"
                target="_blank"
                >http://www.nfhs.org/CoachingTodayFeature.aspx?id=5501</a
              >
            </li>
            <li>
              <a
                href="https://www.iahsaa.org/Student_Resource/Benefits/Multiple_Sport_Participation_Benefits.pdf"
                target="_blank"
                >https://www.iahsaa.org/Student_Resource/Benefits/Multiple_Sport_Participation_Benefits.pdf</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
