    <!-- main body -->
    <div class="col-md-9">

        <div class="blog-grid margin-bottom-10">
            <h2 class="blog-grid-title-lg">2017 Tournament Schedule <i class="fa fa-calendar" aria-hidden="true"></i></h2>
        </div>

        <div class="panel panel-grey equal-height-column">
            <div class="panel-heading">
                <h3 class="panel-title">{{seasonYear}} Tournament Schedule</h3>
            </div>
            <div class="panel-body">
                <p>
                Below are the potential tournament dates for both divisions (Open + Club). 
                This tournament list will be updated as more accurate information is available. 
                All Open teams and some club teams will be playing some or all of the multi-day tournaments.
                The club division will play 6 tournaments:
                <ul>
                    <li>Boston VB Festival</li>
                    <li>All NERVA tournaments</li>
                </ul>
                

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tournament</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='Winterfest'>
                            <td><a href='http://newinterfest.com'>Winterfest</a></td>
                            <td>January 7-8</td>
                            <td>Hartford, CT</td>
                            <td>12,14,15 - 2 days</td>
                    </tr>
                        <tr id='Winterfest'>
                            <td><a href='http://newinterfest.com'>Winterfest</a></td>
                            <td>January 14-16</td>
                            <td>Hartford, CT</td>
                            <td>16,17,18 - 3 days</td>
                    </tr>
                        <tr id='QualifierNational15'>
                            <td>Northeast National Qualifier I</td>
                            <td>January 21-23</td>
                            <td>Philadelphia, PA</td>
                            <td>18 - 3 days</td>
                        </tr>       
                        <tr id='QualifierNERVA1618a'>
                            <td>NERVA 16 &amp; 18 Qualifier</td>
                            <td>February 3-5</td>
                            <td>TBD</td>
                            <td>Open 16, 18 - 2 days</td>
                        </tr>    
                        <tr id='Friendship'>
                            <td>Friendship Tournament</td>
                            <td>February 12</td>
                            <td>Pumas Facilities</td>
                            <td>Club</td>
                        </tr>         
                        <tr id='BostonPrequal'>
                            <td><a href="http://jvctournaments.com/MizunoBostonVolleyballFestival">Boston VB Festival</a></td>
                            <td>March 3-5</td>
                            <td>Boston, MA</td>
                            <td>Open + Club - 3 days</td>
                        </tr>
                        <tr id='NorEaster14_15_18'>
                            <td><a href='http://lakesidevbcgne.weebly.com'>Great Nor'Easter I</a></td>
                            <td>March 11-12</td>
                            <td>Albany, NY</td>
                            <td>14, 15, 18 - 2 days</td>
                        </tr>        
                        <tr id='NERVA_I'>
                            <td><a href='http://nervajuniors.org/nerva-i-assignments-2/'>NERVA I</a></td>
                            <td>March 12</td>
                            <td>NERVA Regional</td>
                            <td>Open + Club</td>
                        </tr>
                        <tr id='NorEaster12_16_17'>
                            <td><a href='http://lakesidevbcgne.weebly.com'>Great Nor'Easter II</a></td>
                            <td>March 18-19</td>
                            <td>Albany, NY</td>
                            <td>12, 16, 17 - 2 days</td>
                        </tr>        
                        <tr id='NERVA_II'>
                            <td><a href='http://nervajuniors.org/nerva-ii-assignments'>NERVA II</a></td>
                            <td>March 26</td>
                            <td>NERVA Regional</td>
                            <td>Open + Club</td>
                        </tr>    
                        <tr id='BigSouth'>
                            <td><a href='http://bigsouth.us'>Big South National Qualifier</a></td>
                            <td>Mar 31 - Apr 2</td>
                            <td>Atlanta, GA</td>
                            <td>Open + Club - 3 days</td>
                        </tr>        
                        <tr id='QualifierNational15'>
                            <td>Northeast National Qualifier II</td>
                            <td>April 8-10</td>
                            <td>Philadelphia, PA</td>
                            <td>12, 14, 15 - 3 days</td>
                        </tr>
                        <tr id='NERVA_III'>
                            <td><a href='http://nervajuniors.org/nerva-iii-assignments'>NERVA III</a></td>
                            <td>April 9</td>
                            <td>Regional</td>
                            <td>Open + Club</td>
                        </tr>
                        <tr id='QualifierNational16'>
                            <td>Northeast National Qualifier III</td>
                            <td>April 14-16</td>
                            <td>Philadelphia, PA</td>
                            <td>16,17 - 3 days</td>
                        </tr>
                        <tr id='NERVA_IV'>
                            <td><a href='http://nervajuniors.org/nerva-iv-assignments'>NERVA IV</a></td>
                            <td>April 23</td>
                            <td>NERVA Regional</td>
                            <td>Open + Club</td>
                        </tr>
                        <tr id='NERVA_V'>
                            <td><a href='http://nervajuniors.org/championship-assignments'>NERVA (V) Championships</a></td>
                            <td>May 7</td>
                            <td>NERVA Regional</td>
                            <td>Open + Club</td>
                        </tr>        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end main body -->

<app-schedule-side-menu></app-schedule-side-menu>
                