<div class="col-md-9">

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Parent Education</h3>
    </div>
    <div class="panel-body">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Pumas_player_parent_handbook 2019-20.pdf" target="_blank">The Player &amp; Parent Handbook</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/2019-2021 USA Volleyball Indoor Rules Book Final.pdf" target="_blank">2019-2021 USAV Indoor Rule Book</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/13 Ways to be a winning parent.pdf" target="_blank">13 ways to be a Winning Parent</a></li>        
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/A Volleyball Test for All.pdf" target="_blank">Volleyball Test for All – Trivia</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/GTGT Player and Parent Book 2013 Edition.pdf" target="_blank">Growing the Game Together: Players &amp; Parents Edition</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/SummerVolleyballCampSelection32210.pdf" target="_blank">Summer Volleyball Camp Selection</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Top 12 Parent Drills.pdf" target="_blank">Top 12 Parent Drills</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/So You Want to be a Better Spectator.pdf" target="_blank">So You want to be a Better Spectator</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/USA Volleyball Fact Sheet.pdf" target="_blank">USA Volleyball Fact Sheet</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Youth Volleyball Tips for Success.pdf" target="_blank">Youth Volleyball Tips for Success (12 and under)</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/21 life lessons kids learn through sports.pdf" target="_blank">21 Life Lessons Kids Learn Through Sports</a></li>        
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/27 Ways to be an Awesome Youth Sports Parent.pdf" target="_blank">27 Ways to be an Awesome Youth Sports Parent</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Why parents must stop coaching from the sidelines.pdf" target="_blank">Why Parents Must Stop Coaching from the Sideline</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Concussion info for parents_eng.pdf" target="_blank">Concussion Info for Parents</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Concussion factsheet_athletes_ages11-13-a.pdf" target="_blank">Concussion Fact Sheet Athletes 11-13</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Concussion factsheet_athletes_ages14-18-a.pdf" target="_blank">Concussion Fact Sheet Athletes 14-18</a></li>
      </ul>
    </div>
  </div>

</div>

<app-education-side-menu></app-education-side-menu><p>