/* Add here all your css styles (customizations) */

/* hide if phone in portait */
@media screen and (max-width: 480px)
{
	.header-no-mobile {
		display: none;
	}
}

/* remove last 2 images if mobile phone in landscape */
@media screen and (max-width: 1020px)
{
    .logo img:nth-last-child(-n+2)  {display: none; }
}

/* remove last 3 images if small mobile phone in landscape */
@media screen and (max-width: 600px)
{
    .logo img:nth-last-child(-n+3)  {display: none; }
}


/* body background - #FFFFE0;*/

.sport-icon-default {
    font-size: 72px;
}

.sport-icon-small {
    font-size: 36px;
}

.sport-icon-xsmall {
    font-size: 18px;
}

.pumas_title{
    /*color: #daa520;*/
    color: rgb(218, 165, 32);
}


.panel-black {
	border-color: #000000;
}

.panel-black > .panel-heading {
	background: #000000;
    color:  #FFFFFF; 
}

.content {
    padding-top: 5px;
    padding-bottom: 10px;
}