	<div class="col-md-9">
				<div class="panel panel-green equal-height-column">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-home" aria-hidden="true"></i> Pumas Home Practice &amp; <i class="fa fa-trophy" aria-hidden="true"></i> Tournament Sites</h3>
					</div>
					<div class="panel-body">

					<!-- Accordion v1 -->
					<div class="panel-group acc-v1" id="accordion-1">
						
						<div class="panel panel-default" *ngFor="let direction of directionItems">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
										<i class="fa fa-caret-right" aria-hidden="true"></i> {{direction.locationName}}
									</a>
								</h4>
							</div>
							<div id="collapse-One" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<h4>{{direction.address}}</h4>

                      <!-- gym directions -->
                      <div class="row">
                        <div class="col-md-5">
                          <div class="tag-box tag-box-v2 margin-bottom-40">
                            <h2>From the North - Route 93 South</h2>
                            <p>Take Route 93 South to Exit 45 (River Road). At the top of the ramp, turn right. Proceed on River Road for approximately 1/4 (one quarter) of a mile; at the third traffic light, turn left into the school driveway and parking lot area.</p>
                          </div>
                        </div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-5">
                          <div class="tag-box tag-box-v2 margin-bottom-40">
                            <h4>From the South - Route 93 North</h4>
                            <p>Take Route 93 North to Exit 45 (River Road). At top of the ramp, turn left onto River Road. Proceed on River Road for approximately 1/4 (one quarter) of a mile; at the second traffic light, turn left into the school driveway and parking lot area</p>
                          </div>
                        </div>
                      </div>
                      <!-- end gym directions -->

                      <!-- google map -->
                      <sebm-google-map [latitude]="direction.lat" [longitude]="direction.lng" [zoom]="direction.zoom">
                        <sebm-google-map-marker [latitude]="direction.lat" [longitude]="direction.lng"></sebm-google-map-marker>
                      </sebm-google-map>
                      <!-- end google map -->

										</div>
									</div>
								</div>
							</div>
						</div>



					</div>
					<!-- End Accordion v1 -->
					</div>
				</div>

	</div>
			<div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Club Info <i class="fa fa-info-circle" aria-hidden="true"></i></h2>

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-about" routerLink="/club-about">About</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-bod" routerLink="/club-bod">Board Of Directors</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-contact" routerLink="/club-contact">Contact</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-directions" routerLink="/club-directions">Directions</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
				</div>

			</div>

	</div>
