<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Coaches Registration</h3>
    </div>
    <div class="panel-body">
      <p>
        USAV is the governing body of New England club volleyball, and holds our
        insurance policy. So everyone must be registered with USAV before
        participating in any club volleyball activity.
      </p>
      <p>
        <a
          href="https://nevolleyball.org/nerva-membership-registration-information-page/"
          target="_blank"
        >
          Register with USAV</a
        >
        - Follow all direction on the region web site as it is a new process
        this year.
      </p>
    </div>
  </div>
</div>

<app-coaches-side-menu></app-coaches-side-menu>
