<div class="col-md-9">

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Coaches Registration</h3>
    </div>
    <div class="panel-body">

      <p>USAV is the governing body of New England club volleyball, and holds our insurance policy. So everyone must be registered with USAV before participating in any club volleyball activity.</p>

        <div class="panel panel-blue">
          <div class="panel-heading">
            <h3 class="panel-title">I am a Returning Coach from Last Year</h3>
          </div>
          <div class="panel-body">
            <p>As a returning coach, you should already have a NERVA login.
            <ol>
              <li>Go to the <a target="_blank" href="https://webpoint.usavolleyball.org/wp15/IntraLock/Login.asp">USAV web site</a></li>
              <li>Enter your username and password. If you don't remember your username or password, there is a link to click so they can email it to you.</li>
              <li>Select <strong>Renew Online</strong> on the left side</li>
              <li>Double check the information on the first page is correct select <strong>Continue</strong></li>
              <li>In the upper right corner of <i>Member Information</i> section, select <strong>Pumas Volleyball</strong> from the pulldown for Club</li>
              <li>Do not select any additional fees, other than the registration and the background check.</li>
              <li>The system will ask you to agree to have a background if you didn't do one last year (renewal is every two years).</li>
            </ol>

            <h5>Notes</h5>
            <ul>
              <li>Paper forms are not required; your electronic agreement is binding.
              <li>You will need to pay by credit card online! We will reimburse you in your coaches stipend at the end of the season.
            </ul>

          </div>					
        </div>

        <div class="panel panel-green">
          <div class="panel-heading">
            <h3 class="panel-title">I am a New Coach</h3>
          </div>
          <div class="panel-body">
            <p>As a new coach, you must register with NERVA and setup a login.
            <ol>
              <li>Go to the <a target="_blank" href="https://webpoint.usavolleyball.org/wp/memberships/join.wp?mbr_ChapterID=25971">USAV web site</a></li>
              <li>Fill out all the information required <strong>carefully</strong> and submit the form. You will receive an email with your login information. Keep these in a safe place you will need them every year.</li>
              <li>This system was designed to register adult Yankee players, so it may ask questions that don't apply. Do the best you can.</li>
              <li>In the upper right corner of the second page, make sure to select <strong>Andover Pumas or Pumas</strong> from the pull-down menu for Club. Do not leave it as Undecided.</li>
              <li>Do not select any additional fees, other than the registration and the background check, unless you want to pay for them yourself.</li>
              <li>The system will ask you to agree to a background check. You must agree, you will not be allowed to coach without a background check.</li>
            </ol>

            <h5>Notes</h5>
            <ul>
              <li>Paper forms are not required; your electronic agreement is binding.
              <li>You will need to pay by credit card online! We will reimburse you in your coaches stipend at the end of the season.
            </ul>

          </div>					
        </div>

    </div>					
  </div>

</div>
  
<app-coaches-side-menu></app-coaches-side-menu>