  <div class="col-md-3">
		<div class="margin-bottom-50">
			<h2 class="title-v4">More in Pictures <i class="fa fa-camera"></i></h2>

			<div class="blog-thumb-v3">
				<small>Pictures</small>
				<h3><a href="/gallery-champions-list" routerLink="/gallery-champions-list">Champions</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Pictures</small>
				<h3><a href="/gallery-on-court-list" routerLink="/gallery-on-court-list">On The Court</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Pictures</small>
				<h3><a href="/gallery-off-court-list" routerLink="/gallery-off-court-list">Off The Court</a></h3>
			</div>
		</div>
</div>
