
			<div class="col-md-3">
				<div class="margin-bottom-50">
					<h2 class="title-v4">More in Schedules <i class="fa fa-calendar" aria-hidden="true"></i></h2>

					<div class="blog-thumb-v3">
						<small><a href="#">Schedules</a></small>
						<h3><a href="#">January - February Practices</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small><a href="#">Schedules</a></small>
						<h3><a href="#">March - May Practices</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small><a href="#">Schedules</a></small>
						<h3><a href="/schedule-tournament" routerLink="/schedule-tournament">Tournaments</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small><a href="#">Schedules</a></small>
						<h3><a href="/schedule-tryouts" routerLink="/schedule-tryouts">Tryouts</a></h3>
					</div>          

				</div>
			</div>
            	