<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryout Schedule</h3>
			</div>
			<div class="panel-body">

				<h4>Reminders</h4>
				<ul>
					<li>Plaistow YMCA (formerly RAC) - 175 Plaistow Road, Plaistow NH 03865</li>
					<li>Please arrive 20-30 minutes early for your tryout.</li>
					<li><strong>Make sure to bring payment (if not paid online), medical form and a copy of your USAV card. You will not be allowed to tryout without all of these.</strong></li>
					<li><strong><i>This schedule is subject to change. Please check the web site in case of last minute changes.</i></strong></li>
				</ul>

				<h4>Schedule</h4>

        <table class="table table-bordered table-striped">
            <caption><strong>Open Tryouts</strong></caption>
						<thead>
							<tr>
									<th width=19% align="center" nowrap>&nbsp;</th>
									<th width=27% colspan="2" align="center" nowrap>Sunday 11/13</th>
									<th width=27% colspan="2" align="center" nowrap>Sunday 11/20</th>
							</tr>
						</thead>
						<tbody>
							<tr>
									<td width=19% align="center" nowrap><strong>Age Group</strong></td>
									<td width=9% align="center" nowrap>9:00 - 12:00</td>
									<td width=9% align="center" nowrap>12:15 - 3:15</td>
									<td width=9% align="center" nowrap>9:00 - 12:00</td>
									<td width=9% align="center" nowrap>12:15 - 3:15</td>
							</tr>
							<tr>
									<td align="center"><strong>15U &amp; 16U Open</strong></td>
									<td align="center">Plaistow</td>
									<td align="center">&nbsp;</td>
									<td align="center">&nbsp;</td>          
									<td align="center">Plaistow</td>                
							</tr>
							<tr>
									<td align="center"><strong>17U &amp; 18U Open</strong></td>
									<td align="center">&nbsp;</td>
									<td align="center">Plaistow</td>         
									<td align="center">Plaistow</td>
									<td align="center">&nbsp;</td>
							</tr>
						</tbody>
        </table>

				<br />

        <table class="table table-bordered table-striped">
            <caption><strong>Club Tryouts</strong></caption>
						<thead>
							<tr>
								<th width=19% align="center" nowrap>&nbsp;</th>
                <th width=40% colspan="4" align="center" nowrap>Sunday 11/27</th>
                <th width=40% colspan="4" align="center" nowrap>Saturday 12/3</th>
							</tr>
						</thead>
						<tbody>
            <tr>
                <td width=20% align="center" nowrap><strong>Age Group</strong></td>
                <td width=8% align="center" nowrap>7:00 - 10:00</td>
                <td width=8% align="center" nowrap>10:15 - 1:15</td>
                <td width=8% align="center" nowrap>1:30 - 4:30</td>
                <td width=8% align="center" nowrap>4:45 - 7:45</td>
                <td width=8% align="center" nowrap>7:00 - 10:00</td>
                <td width=8% align="center" nowrap>10:15 - 1:15</td>
                <td width=8% align="center" nowrap>1:30 - 4:30</td>
                <td width=8% align="center" nowrap>4:45 - 7:45</td>
            </tr>
            <tr>
                <td align="center"><strong>12U Club</strong></td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
              </tr>
            <tr>
                <td align="center"><strong>14U Club &amp; Open</strong></td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
              </tr>
            <tr>
                <td align="center"><strong>15U Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
              </tr>
            <tr>
                <td align="center"><strong>16U Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
              </tr>
            <tr>
                <td align="center"><strong>17U &amp; 18U Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
              </tr>
							<tr><td colspan="9" align="center"><strong><font color=red>Note different days for each tryout</font></strong></td></tr>
						</tbody>
        </table>



      </div>
    </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>