<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">2018 Tryout Schedule</h3>
			</div>
			<div class="panel-body">

				<h4>Reminders</h4>
				<ul>
					<li>Plaistow YMCA (formerly RAC) - 175 Plaistow Road, Plaistow NH 03865</li>
					<li>Please arrive 20-30 minutes early for your tryout.</li>
					<li><strong>Make sure to bring tryout payment (if not paid online), season deposit, medical form and a copy of your USAV card. You will not be allowed to tryout without all of these.</strong></li>
          <li><strong><i>This year both Open and Club will be trying out together with only two tryout dates in total.</i></strong></li>
          <li>Results will be posted on the web site for the Open teams and 16-18 club teams by 5 pm on November 29th, 2017. The final team results for 12U-15U Club teams will be posted by 5pm November 30th, 2017. Results will be posted by your tryout number.</li>
				</ul>

				<h4>Schedule</h4>

        <table class="table table-bordered table-striped">
            <caption><strong>Open &amp; Club Tryouts</strong></caption>
						<thead>
							<tr>
								<th width=19% align="center" nowrap>&nbsp;</th>
                <th width=40% colspan="4" align="center" nowrap>Sunday 11/19</th>
                <th width=40% colspan="4" align="center" nowrap>Sunday 11/26</th>
							</tr>
						</thead>
						<tbody>
            <tr>
                <td width=20% align="center" nowrap><strong>Age Group</strong></td>
                <td width=8% align="center" nowrap>7:00 - 10:00</td>
                <td width=8% align="center" nowrap>10:15 - 1:15</td>
                <td width=8% align="center" nowrap>1:30 - 4:30</td>
                <td width=8% align="center" nowrap>4:45 - 7:45</td>
                <td width=8% align="center" nowrap>7:00 - 10:00</td>
                <td width=8% align="center" nowrap>10:15 - 1:15</td>
                <td width=8% align="center" nowrap>1:30 - 4:30</td>
                <td width=8% align="center" nowrap>4:45 - 7:45</td>
            </tr>
            <tr>
                <td align="center"><strong>12U &amp; 14U Club</strong></td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
              </tr>
            <tr>
                <td align="center"><strong>15U Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
              </tr>
            <tr>
                <td align="center"><strong>16U Open &amp; Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
              </tr>
            <tr>
                <td align="center"><strong>17U/18U Open &amp; Club</strong></td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td align="center">Plaistow</td>
                <td align="center">&nbsp;</td>
              </tr>
						</tbody>
        </table>

				<br />
<!--
        <table class="table table-bordered table-striped">
            <caption><strong>Club Tryouts</strong></caption>
						<thead>
							<tr>
								<th align="center" nowrap>&nbsp;</th>
                <th align="center" nowrap>Sunday 12/4</th>
                <th align="center" nowrap>Sunday 12/11</th>
							</tr>
						</thead>
						<tbody>
            <tr>
                <td align="center" nowrap><strong>Age Group</strong></td>
                <td align="center" nowrap>8:00 - 10:30</td>
                <td align="center" nowrap>8:00 - 10:30</td>
            </tr>
            <tr>
              <td align="center"><strong>12U Club</strong></td>
              <td align="center"><a href="/club-directions" routerLink="/club-directions">Lawrence Boys &amp; Girls Club</a></td>
              <td align="center"><a href="/club-directions" routerLink="/club-directions">Lawrence Boys &amp; Girls Club</a></td>
            </tr>
          </tbody>
        </table>
      -->

      </div>
    </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>