<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">2020 Tryout Schedule</h3>
			</div>
			<div class="panel-body">

				<h4>Reminders</h4>
				<ul>
					<li>Please arrive 20-30 minutes early for your tryout</li>
					<li><strong>Make sure to bring tryout payment (if not paid online), season deposit, medical form and a copy of your USAV card. You will not be allowed to tryout without all of these</strong></li>
          <li>Results will be posted by your tryout number</li>
          <li><a href="/club-directions" routerLink="/club-directions">Directions to Pumas Tryout Facilities</a></li>
				</ul>

				<h4>Schedule</h4>

        <table class="table table-bordered table-striped">
          <caption><strong>Boys Team Tryouts</strong></caption>
          <thead>
            <tr>
              <th nowrap>&nbsp;</th>
              <th colspan="2" class="text-center" nowrap>Sunday 10/13</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" nowrap><strong>Age Group</strong></td>
              <td class="text-center" nowrap>9:30 - 12:00</td>
              <td class="text-center" nowrap>11:30 - 2:00</td>
            </tr>  
          <tr>
            <td class="text-center"><strong>15/16U </strong></td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Lawrence Boys + Girls Club</a></td>
            <td class="text-center">&nbsp;</td>
          </tr>
          <tr>
            <td class="text-center"><strong>17U/18U</strong></td>
            <td class="text-center">&nbsp;</td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Lawrence Boys + Girls Club</a></td>
          </tr>
          </tbody>
      </table>

      <br />

        <table class="table table-bordered table-striped">
          <caption><strong>Girls 14U &amp; 15U Tryouts</strong></caption>
          <thead>
            <tr>
              <th nowrap>&nbsp;</th>
              <th class="text-center" nowrap>Sunday 10/20</th>
              <th class="text-center" nowrap>Sunday 10/27</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="text-center" nowrap><strong>Age Group</strong></td>
                <td class="text-center" nowrap>11:00am - 2:30pm</td>
                <td class="text-center" nowrap>11:00am - 2:30pm</td>
            </tr>           
            <tr>
              <td class="text-center" ><strong>14U &amp; 15U</strong></td>
              <td class="text-center" ><a href="/club-directions" routerLink="/club-directions">Lawrence Boys &amp; Girls Club</a></td>
              <td class="text-center" ><a href="/club-directions" routerLink="/club-directions">Lawrence Boys &amp; Girls Club</a></td>
            </tr>
						</tbody>
        </table>

        <br />

        <div class="alert alert-info">
          <h4 class="text-center">Girls Program 16U &amp; 18U tryout times will be posted when available in advance of 16U-18U tryout</h4>
        </div>

        <table class="table table-bordered table-striped">
          <caption><strong>Girls 16U &amp; 18U Tryouts</strong></caption>
          <thead>
            <tr>
              <th nowrap>&nbsp;</th>
              <th colspan="2" class="text-center" nowrap>Sunday 11/10</th>
              <th colspan="2" class="text-center" nowrap>Sunday 11/17</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" nowrap><strong>Age Group</strong></td>
              <td class="text-center" nowrap>TBD</td>
              <td class="text-center" nowrap>TBD</td>
              <td class="text-center" nowrap>TBD</td>
              <td class="text-center" nowrap>TBD</td>
            </tr>  
          <tr>
            <td class="text-center"><strong>16U </strong></td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Plaistow YMCA </a></td>
            <td class="text-center">&nbsp;</td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Plaistow YMCA </a></td>
            <td class="text-center">&nbsp;</td>
          </tr>
          <tr>
            <td class="text-center"><strong>17U/18U</strong></td>
            <td class="text-center">&nbsp;</td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Plaistow YMCA </a></td>
            <td class="text-center">&nbsp;</td>
            <td class="text-center"><a href="/club-directions" routerLink="/club-directions">Plaistow YMCA </a></td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>