  <div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Teams <i class="fa fa-users"></i></h2>

				<div class="blog-thumb-v3">
					<small>Teams</small>
					<h3><a href="/team-roster/2017" routerLink="/team-roster/2017">2017 Roster</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Teams</small>
					<h3><a href="/team-roster/2016" routerLink="/team-roster/2016">2016 Roster</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Teams</small>
					<h3><a href="/team-roster/2015" routerLink="/team-roster/2015">2015 Roster</a></h3>
				</div>
				
			</div>
	</div>