<div class="col-md-9">
		<div class="panel panel-grey equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryouts</h3>
			</div>
			<div class="panel-body">
        <ul>
          <li>The fee to try out for the Club or Open Division is $40 if you pre-register on-line by midnight November 4th, 2016, and $65 afterwards.</li>
          <li>A girl trying out for two age groups must pay an additional $40 and register independently for each age group.</li>
          <li>All fees can be paid by cash or check at the tryouts or online by credit card.</li>
        </ul> 

        <p>If paying by check, make checks payable to <strong>Pumas Volleyball Club</strong> or <strong>PVC</strong> and send to:<br/> 
          <address>
          22 Marblehead Street<br/> 
          North Andover, MA<br/> 
          01845
          </address>

        <ul>
          <li>$40 or $65 nonrefundable tryout fee.</li>
          <li>$100 deposit toward the season fee (refer to season fees and refund policy below).</li>
        </ul>
      </div>
		</div>

		<div class="panel panel-grey equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Season</h3>
			</div>
			<div class="panel-body">

        <blockquote class="hero">
          <p><em>"A common concern every year is the cost of fees. The fees for both the Open and Club divisions are comparable to other clubs. Fees are raised to keep pace with our court costs, tournament fees, uniforms and coach retention. We are a non-profit and only raise fees to the amounts needed to run our programs. One of our hallmarks at Pumas are the five extra practice dates that almost no other club has because they practice on Sunday (They miss practice because of the NERVA tournaments). We hope you will stay with Pumas as we continue to improve our programs and give your daughters an experience they will both enjoy and benefit from."</em></p>
          <small><em>Stephen Boyle, 2017 Club Director</em></small>
        </blockquote>


        <h3>Open Division</h3>
        <p>The season fee for the Open Division is $1,600, the balance of $1,500 being payable by midnight November 29th, 2016. This includes:</p>
        <ul>
          <li>Approximately 35 practice sessions (2 per week depending on tournaments)</li>
          <li>8-10 tournaments</li>
          <li>Uniforms (2 uniform shirts and shorts, socks, shoes), sweats, equipment</li>
          <li>End of year picnic</li>
        </ul>
        
        <h3>Club Division</h3>
        <p>The season fee for the Club Division is $775, the balance of $675 being payable by midnight December 14th, 2016. This includes:
          <ul>
            <li>Approximately 17 practice weeks</li>
            <li>6 tournaments</li>
            <li>Uniforms</li>
            <li>End of year picnic</li>
          </ul>

        <h3>All Divisions</h3>
        <ul>      
          <li>Travel expenses are the responsibility of the individual players.</li>
          <li>A girl will not be put on a team unless the season fee has been received in time.</li>
          <li>A discount of $100.00 each is given to 2nd, 3rd, etc. siblings.</li>
        </ul>

        <p>If paying by check, make checks payable to <strong>Pumas Volleyball Club</strong> or <strong>PVC</strong> and send to:<br/> 
          <address>
          22 Marblehead Street<br/> 
          North Andover, MA<br/> 
          01845
          </address>

      </div>
		</div>

		<div class="panel panel-grey equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Refund Policy</h3>
			</div>
			<div class="panel-body">
        <ul>
          <li>The tryout fee is non-refundable, even if the athlete does not attend any tryout.</li>
          <li>The $100.00 season deposit is refundable if a girl is cut or drops by notifying the CLUB DIRECTOR by letter, email, or phone on or before November 18th, 2016 (Open) or December 1st, 2016 (Club). Only refunds for medical necessity with a doctor's note will be allowed after these dates.</li>
          <li>Any girl trying out for an Open team but only making Club will be refunded the difference in the season fee.</li>
          <li>If a girl incurs a season-ending injury (with a doctor's note) before March 1st, 2017, a partial pro-rated refund will be issued. After March 1st, 2017, no refunds will be given.</li>
          <li>No refund will be given to a girl who pays the Open team fee but whose team plays in the Club division since they are still practicing as an Open team.</li>
          <li>Refunds are not given for an athletes' inability to attend practices or tournaments because of outside scheduling conflicts or lack of interest.</li>
        </ul>
			</div>
		</div>
</div>

<app-programs-side-menu></app-programs-side-menu>