<div class="col-md-9">
  <blockquote class="hero">
    <p>
      <em
        >"A common concern every year is the cost of fees. The fees for both the
        Open and Club divisions are comparable to other clubs. Fees are raised
        to keep pace with our court costs, tournament fees, uniforms and coach
        retention. We are a non-profit and only raise fees to the amounts needed
        to run our programs.</em
      >
    </p>

    <p>
      <em
        >One of our hallmarks at Pumas are the
        <strong>six extra practice dates</strong> that many other clubs do not
        have because they hold practice on Sunday (These practices are missed
        due to Sunday NERVA tournaments and Easter) ) while Pumas practices on
        Saturday. Starting in the 2018-19 season, we have
        <strong>additional practice time for all players</strong> with the
        addition of a second practice (Tuesday). In addition, multi-day
        tournaments (Winterfest, Qualifiers, Boston) are also included in the
        season fee.</em
      >
    </p>

    <p>
      <em
        >We hope you will stay with Pumas as we continue to improve our programs
        and your child an experience they will both enjoy and benefit from."</em
      >
    </p>
    <small><em>Stephen Boyle, Club Director</em></small>
  </blockquote>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Tryouts</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>The fee to try out for the Club or Open Division is $60</li>
        <li>
          A player trying out for two age groups must:
          <ul>
            <li>get approval from the Club Director</li>
            <li>pay an additional $60</li>
          </ul>
        </li>
        <li>
          All tryout fees can be paid by cash or check at the tryouts or online
          by credit card. The season deposit is requested to be a check.
        </li>
      </ul>

      <p>
        If paying by check, make checks payable to <strong>PVC</strong> or
        <strong>Pumas Volleyball Club</strong> and send to:<br />
      </p>
      <address>
        22 Marblehead Street<br />
        North Andover, MA<br />
        01845
      </address>

      <ul>
        <li>$60 nonrefundable tryout fee.</li>
        <li>
          $150 deposit toward the season fee. If you are placed on a team, your
          deposit is forfeit whether you accept the position or not. Please
          refer to season fees and refund policy below.
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Season</h3>
    </div>
    <div class="panel-body">
      <h3>Girls Open Division</h3>

      <p>
        The season fee for the Open Division is $2200. Payment options you can
        choose from will include:
      </p>

      <ol>
        <li>Full payment of balance due by credit card or by check of $2050</li>
        <li>
          Payment of $800 being payable by midnight December 2nd, 2020 by credit
          card or check. The remaining payments are due before their deadlines.
          <ul>
            <li>1/1/21 $800</li>
            <li>2/1/21 $600</li>
          </ul>
        </li>
        <li>
          Payment of $800 being payable by credit card only with monthly
          payments automatically deducted. Remaining payments will be due:
          <ul>
            <li>1/1/21 $350</li>
            <li>2/1/21 $350</li>
            <li>3/1/21 $350</li>
            <li>4/1/21 $350</li>
          </ul>
        </li>
      </ol>
      Late payments will incur a monthly penalty of
      <strong>5% for every month owed.</strong>
      <p>The season fee includes:</p>

      <ul>
        <li>
          Approximately 57 practice sessions (3 per week depending on
          tournaments). Tuesday practices may be be adjusted depending upon
          current COVID regulations.
        </li>
        <li>5 Single day tournaments (NERVA Regional)</li>
        <li>
          3-4 Multi-day tournaments (Winterfest, Boston, Atlanta/Philly, Rhode
          Island Rumble )
        </li>
        <li>
          Uniforms - 3 competition jerseys (returned at end of season), 2
          shorts, and warm-ups (top + bottom), and Practice T-shirt
        </li>
      </ul>

      <h3>Girls Club Division</h3>

      <p>
        The season fee for the Club Division is $1100. Payment options you can
        choose from will include:
      </p>
      <ol>
        <li>Full payment of balance due by credit card or by check of $1100</li>
        <li>
          Payment of $400 being payable by midnight December 2nd, 2020 by credit
          card or check. The remaining payments are due before their deadlines.
          <ul>
            <li>1/1/21 $400</li>
            <li>2/1/21 $150</li>
          </ul>
        </li>
        <li>
          Payment of $425 being payable by credit card only with monthly
          payments automatically deducted. Remaining payments will be due:
          <ul>
            <li>1/1/21 $175</li>
            <li>2/1/21 $175</li>
            <li>3/1/21 $175</li>
          </ul>
        </li>
      </ol>
      Late payments will incur a monthly penalty of
      <strong>5% for every month owed.</strong>
      <p>The season fee includes:</p>
      <ul>
        <li>
          Approximately 42 practice sessions (2 per week unless at a multi-day
          tournament). Tuesday practices may be be adjusted depending upon
          current COVID regulations.
        </li>
        <li>5 Single Day tournaments (NERVA Regional)</li>
        <li>2 Multi-day tournament (Winterfest, Boston)</li>
        <li>
          Any other tournament that they may attend is voluntary and an
          additional cost will be split between those going. This includes
          Spikefest, Great Noreaster, Philadelphia, Rhode Island Rumble, or
          other tournaments
        </li>
        <li>Uniforms - 2 competition jersey, 2 pair shorts</li>
      </ul>

      <!--
      <h3>Boys Team</h3>

      <p>The fee for the two tryouts is $60.</p>

      <p>
        The season fee will be a range of $1900-$2200 depending on the number of
        teams formed. The season fee includes:
      </p>
      <ul>
        <li>
          Approximately 30 practice sessions (2 per week depending on
          tournaments)
        </li>
        <li>4 Single day tournaments - NERVA Regional</li>
        <li>
          4 Multi-day tournaments
          <ul>
            <li>
              <a
                href="https://jvctournaments.com/WickedTournamentInfo"
                target="_blank"
                >Wicked Good Challenge</a
              >
            </li>
            <li>
              <a
                href="https://jvctournaments.com/WinterfestTournamentInformation"
                target="_blank"
                >Winterfest</a
              >
            </li>
            <li>Rochester Can-Am</li>
            <li>
              <a
                href="https://jvctournaments.com/MizunoBostonVolleyballFestival"
                target="_blank"
                >Boston Volleyball Festival</a
              >
            </li>
          </ul>
        </li>
        <li>2 pairs of shorts, use of 2 Competition jerseys</li>
        <li>
          Use of
          <a href="https://www.hudl.com/sports/volleyball/club" target="_blank"
            >HUDL video</a
          >
          review and analysis
        </li>
        <li>Coaches Stipend and travel expenses</li>
        <li>Chaperone for travel tournaments</li>
        <li>Shared hotel room for the players</li>
      </ul>
      -->

      <h3>All Divisions</h3>
      <ul>
        <li>
          Travel expenses are the responsibility of the individual players.
          Hotels for all tournaments (Winterfest, Atlanta, Philadelphia,
          Spikefest, Rhode Island Rumble) will be reserved by the Club Director
          but parents are still responsible for paying all travel and lodging
          fees directly.
        </li>
        <li>
          A player will not remain on a team unless the season fee has been
          received in time. This includes tournaments and practices.
        </li>
        <li>A discount of $100.00 each is given to 2nd, 3rd, etc. siblings.</li>
      </ul>

      <p>If paying by Credit Card, all CC fees are paid by the player.</p>
      <p>
        If paying by check, make checks payable to <strong>PVC</strong> or
        <strong>Pumas Volleyball Club</strong> and send to:<br />
      </p>
      <address>
        PVC<br />
        22 Marblehead Street<br />
        North Andover, MA<br />
        01845
      </address>
    </div>
  </div>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Refund Policy</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          The tryout fee is non-refundable, even if the athlete does not attend
          any tryout.
        </li>
        <li>
          The $150.00 season deposit is refundable if a girl is cut or drops by
          notifying the CLUB DIRECTOR by letter, email, or phone on or before
          the second tryout (for the age group you are trying out for) (Open or
          Club). Only refunds for medical necessity with a doctor's note will be
          allowed after these dates.
        </li>
        <li>
          Both player and parent should know
          <strong>before the second tryout</strong> whether they want to be
          considered for placement on a Pumas team. You will lose your deposit
          if you drop after teams are announced for any reason other than
          medical.
        </li>
        <li>
          The season deposit is holding a place for the player. Any player
          placed on a team but not accepting the position will lose their
          deposit.
        </li>
        <li>
          If a player incurs a season-ending injury (with a doctor's note)
          before March 1st, 2021, a pro-rated refund will be issued. After March
          1st, 2021, no refunds will be given.
        </li>
        <li>
          No refund will be given to a player who pays the Open team fee but
          whose team plays in the Club division because they are still
          practicing as an Open team.
        </li>
        <li>
          Refunds are not given for an athletes' inability to attend practices
          or tournaments because of outside scheduling conflicts or lack of
          interest.
        </li>
        <li>
          There are no refunds given for inclement weather or facilities closing
          because of weather related factors.
        </li>
      </ul>
      <h4>COVID Refunds</h4>
      <p>
        Any practice or tournaments cancelled by the facility, or the state,
        because of health and safety factors associated with COVID19 will result
        in a refund at the end of the season.
      </p>
    </div>
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
