<div class="col-md-9">
  <blockquote class="hero">
    <p>
      <em
        >"A common concern every year is the cost of fees. The fees for both the
        Open and Club divisions are comparable to other clubs. Fees are raised
        to keep pace with our court costs, tournament fees, uniforms and coach
        retention. We are a non-profit and only raise fees to the amounts needed
        to run our programs.</em
      >
    </p>

    <p>
      <em
        >One of our hallmarks at Pumas are the
        <strong>six extra practice dates</strong> that many other clubs do not
        have because they hold practice on Sunday (These practices are missed
        due to Sunday NERVA tournaments and Easter) ) while Pumas practices on
        Saturday. Starting in the 2018-19 season, we have
        <strong>additional practice time for all players</strong> with the
        addition of a second practice (Tuesday). In addition, multi-day
        tournaments (Winterfest, Qualifiers, Boston) are also included in the
        season fee.</em
      >
    </p>

    <p>
      <em
        >We hope you will stay with Pumas as we continue to improve our programs
        and your child an experience they will both enjoy and benefit from."</em
      >
    </p>
    <small><em>Stephen Boyle, Club Director</em></small>
  </blockquote>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Tryouts</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>The fee to try out for the Club or Open Division is $60</li>
        <li>
          A player trying out for two age groups must:
          <ul>
            <li>get approval from the Club Director</li>
            <li>pay an additional $60</li>
          </ul>
        </li>
        <li>
          All tryout fees can be paid by cash or check at the tryouts or online
          by credit card. The season deposit is requested to be a check.
        </li>
      </ul>

      <p>
        If paying by check, make checks payable to <strong>PVC</strong> or
        <strong>Pumas Volleyball Club</strong> and send to:<br />
      </p>
      <address>
        22 Marblehead Street<br />
        North Andover, MA<br />
        01845
      </address>

      <ul>
        <li>$60 nonrefundable tryout fee.</li>
        <li>
          $150 deposit toward the season fee. If you are placed on a team, your
          deposit is forfeit whether you accept the position or not. Please
          refer to season fees and refund policy below.
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Pumas 2020-2021 Updated Cost and Payment Info</h3>
    </div>
    <div class="panel-body">
      <h3>Costs</h3>

      <p>
        The extreme effect that COVID has had upon the availability of coaches, tournaments, and the use of facilities has led Pumas to adjust its fee structure for this season. The updated base cost for this season will be $860 for the season. All other court time will be an additional cost on a per player basis.
      </p>

      <h3>Base Cost Covers:</h3>

      <ul>
        <li>Saturday practices for 3 hours (30 min agility session, 2.5-hour team practice) from 12/5 to 5/1/21.This is 66 hours of court time.</li>
        <li>Tuesday midweek practice from 3/2/21 to 4/27/21. this is 12 hours of court time. Midweek practice will be on Tuesday at Lowell Catholic HS.</li>
        <li>This is for a total of 78 hours of practice time. In a regular non-covid season there would have been 92 hours of scheduled practice time.</li>
      </ul>

      <h3>Additional Costs When/If Needed:</h3>
      
      <ul>
        <li><strong>Single Day Scrimmages</strong> - These will be scheduled on a Sunday if at all possible and will not be on the NERVA dates already scheduled. These dates will be scheduled depending on other club and court availability. Estimated cost would be between $30 and $60 per player depending if we have a reciprocal date with the other team (go to their facility), or they are just coming to us and will pay half the cost. As soon as dates are set a commitment will be needed for the number of players attending. Total cost will depend on the total number of athletes attending (the more players the cheaper per person it will be).</li>
        <li><strong>NERVA Scheduled Dates</strong> – These are scheduled for the following Sundays (2/21, 3/14, 3/28, 4/11, 5/2). These will be at a $40 per tournament cost.</li>
        <li><strong>Convention Center Tournaments</strong> - These have been postponed to May + June. Estimates would look to be in the range of $90-$140 per player for Boston (3 days) and Spikefest (2 days with hotel stay). This covers the entry fee, coaches fee and coaches lodging; it does not cover players hotel which is the same during a regular season.</li>
        <li><strong>Extra Skills Sessions</strong> - These may be scheduled for Sundays if courts are available and each session would focus on one particular skill for 2 hours. These would be voluntary. Min of 12 players needed and estimated cost would be dependent upon total number of players attending (between $15 - $25 per player)</li>
        <li><strong>Additional Court Time</strong> - Any other court time we can get whether midweek or Sunday would have an additional cost.</li>
        <li><strong>Uniforms</strong> - There would be a $10 uniform fee for the competition jerseys for the scrimmages and convention center tournaments. If black spandex is needed for the convention center tournaments there would be an additional cost of $25.</li>
        <li><strong>Extended Practice Season</strong> – Commitments will be made by 3/13/21 for any players wishing to play in the Boston (May) or Spikefest tournament (June). This will be for practices between 5/3/21 and 6/11/21.</li>
      </ul>

      <h3>Payment Schedule</h3>
      <p>Full base cost is $875. Full payment remaining after deposit $725 ($150 paid at tryouts)</p>

      <h4>Check Payments</h4>
      <p><strong>Do not go online.</strong>
        If paying by check, make checks payable to <strong>PVC Inc</strong> and send to:<br />
      </p>
      <address>
        PVC<br />
        22 Marblehead Street<br />
        North Andover, MA<br />
        01845
      </address>
      <p>Checks must be postmarked by 12/15/20. There are two payment options for paying by check.</p>
      <ol>
        <li><strong>Payment Plan 1</strong> – Pay full remaining base cost in one payment ($725).</li>
        <li><strong>Payment Plan 2</strong> – Pay remaining base cost ($725) in two payments:
          <ul>
            <li>Payment 1 of $363 due 12/15/20</li>
            <li>Payment 2 of $363 due 2/15/21</li>
          </ul>
        </li>
      </ol>
      
      <h4>Credit Card Payments</h4>
      <p>There are two payment options for paying by credit card. If using a Credit Card, please make payment by midnight on 12/15/20. Click on the payment link in the invoice email to enter the payment information. Remember you will be paying all online fees in addition to the base season fee. Fees are estimated at $30.</p>

      <ol>
        <li><strong>Payment Plan 1</strong> – Pay full remaining base cost in one payment ($725). If paying by CC all fees are paid by you.</li>
        <li><strong>Payment Plan 2</strong> – Pay the remaining base cost ($725) in 5 monthly installments. These will be automatically deducted from your bank account on the dates listed.:
          <ul>
            <li>monthly 1 $145 due 12/15/20</li>
            <li>monthly 2 $145 due 1/15/21</li>
            <li>monthly 3 $145 due 2/15/21</li>
            <li>monthly 4 $145 due 3/15/21</li>
            <li>monthly 5 $145 due 4/15/21</li>
          </ul>
        </li>
      </ol>

      <h4>Payment Steps</h4>
      <ul>
        <li>In the invoice email you receive click on the make a payment link. This will send you to the sports engine web site</li>
        <li>Choose which payment method you want. Full payment or to pay in automatic monthly installments. Then click proceed to
        checkout</li>
        <li>Add CC or bank account information and click the payment button at the bottom.</li>
        <li>If you do not receive an email from sports engine with all the information you just entered, then you did not finish. The email comes almost immediately.</li>
      </ul>

    </div>
  </div>

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Refund Policy</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>
          The tryout fee is non-refundable, even if the athlete does not attend
          any tryout.
        </li>
        <li>
          The $150.00 season deposit is refundable if a girl is cut or drops by
          notifying the CLUB DIRECTOR by letter, email, or phone on or before
          the second tryout (for the age group you are trying out for) (Open or
          Club). Only refunds for medical necessity with a doctor's note will be
          allowed after these dates.
        </li>
        <li>
          Both player and parent should know
          <strong>before the second tryout</strong> whether they want to be
          considered for placement on a Pumas team. You will lose your deposit
          if you drop after teams are announced for any reason other than
          medical.
        </li>
        <li>
          The season deposit is holding a place for the player. Any player
          placed on a team but not accepting the position will lose their
          deposit.
        </li>
        <li>
          If a player incurs a season-ending injury (with a doctor's note)
          before March 1st, 2021, a pro-rated refund will be issued. After March
          1st, 2021, no refunds will be given.
        </li>
        <li>
          No refund will be given to a player who pays the Open team fee but
          whose team plays in the Club division because they are still
          practicing as an Open team.
        </li>
        <li>
          Refunds are not given for an athletes' inability to attend practices
          or tournaments because of outside scheduling conflicts or lack of
          interest.
        </li>
        <li>
          There are no refunds given for inclement weather or facilities closing
          because of weather related factors.
        </li>
      </ul>
      <h4>COVID Refunds</h4>
      <p>
        Any practice or tournaments cancelled by the facility, or the state,
        because of health and safety factors associated with COVID19 will result
        in a refund at the end of the season.
      </p>
    </div>
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
