<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Tryout Guidelines: Club Division</h3>
    </div>
    <div class="panel-body">
      <p>
        For club teams, a player is required to try out for the youngest age
        division they are eligible for, unless given permission or recommended
        by the director to try an older age group. Permissions is typically
        granted in just one of two cases:
      </p>
      <ul>
        <li>
          A player has demonstrated abilities that are clearly superior to all
          of the other girls trying out for that age division. Pumas has levels
          in most age division that extend from C through AA. It would be very
          rare that a player tries out for a Club team where her skills are
          above our AA level.
        </li>
        <li>
          A player has a birthday that puts them in a younger age group than the
          other players in thier grade. If the date is missed by a small amount,
          then the player may request to be placed in the higher age group to
          play with others of the same grade.
        </li>
      </ul>
      In each of the above cases, the club may require the girl to try out in
      both age divisions before making a determination. This requires a second
      $60.00 tryout fee.
    </div>
  </div>
  <br />
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Tryout Guidelines: Open Division</h3>
    </div>
    <div class="panel-body">
      <p>
        For Open teams, a player is also encouraged to try out at the youngest
        age division that matches her eligibility.
      </p>

      <div class="alert alert-warning">
        <p>
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <strong>Caution:</strong> if a player misses the first and second
          tryout for the younger age division and does not make an Open team in
          the older division, they will not be automatically placed on a younger
          team, Open or Club. For example: 15-year olds trying out for 16 Open,
          must attend one of the 15 Club tryout as well. There will not be an
          additional tryout fee for 15’s trying out for 16 Open.
        </p>
      </div>

      <h4>Typical skill level of girls that make an open team</h4>
      <ul>
        <li>
          14U - Multiple years of experience on a middle school or A or AA club
          team
        </li>
        <li>
          16U - Middle-schooler: It's very difficult to make the 16U division as
          a middle schooler, we average about one girl per year.
        </li>
        <li>
          16U - Freshman: Previous experience on a 14U Open or strong middle
          school team. These players are typically upper-level JV players, but
          can be varsity, depending on the school.
        </li>
        <li>
          16U - Sophomores: Previous experience on a 15U A or AA club team.
          These players are typically varsity players, unless their school is
          very strong.
        </li>
        <li>
          17/18U - These players are nearly all high school varsity starters,
          unless their school is very strong.
        </li>
      </ul>
    </div>
  </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>
