<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryout Guidelines: Club Division</h3>
			</div>
			<div class="panel-body">
        <p>For club teams, a girl is required to try out for the youngest age division she is eligible for, unless given permission or recommended by the director to try an older age group. Permissions is typically granted in just one of two cases:
        <ul>
          <li>A girl has demonstrated abilities that are clearly superior to all of the other girls trying out for that age division. Pumas has levels in most age division that extend from C through AA. We are a large club, drawing athletes from dozens of towns. It would be very rare that a girl tries out for a Club team where her skills are above our AA level.</li>
          <li>A girl has a birthday that puts her in a younger age group than the other girls in her grade. If the date is missed by a small amount, then the girl may request to be placed in the higher age group to play with others of the same grade.</li>
        </ul>
        In each of the above cases, the club may require the girl to try out in both age divisions before making a determination. This requires a second $40.00 tryout fee.
      </div>
    </div>
    <br />
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryout Guidelines: Open Division</h3>
			</div>
			<div class="panel-body">
        <p>
        For Open teams, a girl is required to try out at the youngest age division that matches her eligibility. For an additional tryout fee of $40.00, she may also try out for a higher age division, by coming to both tryouts on each day
        <br/><strong>Caution:</strong> if a girl misses the first and second tryout for the younger age division, and does not make an Open team in the older division, she will not be automatically placed on a younger Open team, and would be required to come to the club tryouts.
        </p>
        <h4>Typical skill level of girls that make an open team</h4>
        <ul>
          <li>14U - Multiple years of experience on a middle school or A or AA club team</li>
          <li>16U - Middle-schooler: It's very difficult to make the 16U division as a middle schooler, we average about one girl per year.</li>
          <li>16U - Freshman: Previous experience on a 14U Open or strong middle school team. These players are typically upper-level JV players, but can be varsity, depending on the school.</li>
          <li>16U - Sophomores: Previous experience on a 15U A or AA club team. These players are typically varsity players, unless their school is very strong.</li>
          <li>17/18U - These players are nearly all high school varsity starters, unless their school is very strong.</li>
        </ul>
      </div>
    </div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>