<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Open Division</h3>
			</div>
			<div class="panel-body">

        <p>These are the elite Pumas teams, and will usually play against other club's elite teams. The Open division has 14U, 16U, and 18U age groups. Girls who try out for Open level teams must be able to commit to two practices per week: one on Saturday for 2 1/2 hours, one evening during the week (usually Tuesday) for 2 hours, and will travel to at least three additional tournaments, including one that may be out of New England (e.g., New York, Baltimore, Philly and Atlanta are possibilities for the top team). Conflicts with High School sports or vacations must be discussed with the director during tryouts. Girls who do not make the Open division are encouraged to try out for the Club division (no additional charge).</p>

        <p>Open level teams will be entered (space permitting) into the Winterfest tournament in January and the NERVA Open division qualifier tournament in February. If they do well, they begin the season in the NERVA Open division, where the tournaments have adult refs and are held at higher quality gyms. Otherwise they would compete in the Club division, but could play their way up to Open during the season. They would continue to practice twice a week and be considered a Pumas Open level team.</p>

        <p>The Open teams' season runs from November tryouts through May. Practices begin in December. There will be five Sunday single day tournaments in the New England area. The Open level teams will also have a qualifier one of the first two weekends of February and at least one additional tournament: Winterfest in January; Albany, Philadelphia or Baltimore in March/April. Parents provide transportation to practices and tournaments. Most Open tournaments are within an hour's drive, but some may be up to 2 hours away. Players should try to plan their vacations around practices and tournaments to the extent possible. During tryouts, players will be asked to sign an Open Level Commitment form stating which tournament dates they are able to attend as well as any practice scheduling problems for the whole season. Your availability and scheduling commitment level can affect what team you are placed onto.</p>

        <h3>General Information</h3>

        <h4>Practices for Open teams in December</h4>

        <ul>
          <li>Saturdays 12/9, 12/16 and 12/30 at UMass Lowell Rec Center. Time TBD after teams are made</li>
          <li>Tuesdays 12/12, 12/19 and 12/26 at GLTS from 7:30-9:30 pm</li>
        </ul>

        <p>Please be available to practice on each of these days. They are very important as the first tournament comes quickly in January.</p>

        <h4>2018 Open Coaches</h4>
        <ul>
          <li>16U: Bruce Shainwald</li>
          <li>17U: Michelle Naughton</li>
          <li>18U: Dan O'Connor</li>
        </ul>

        <h4>2018 Pumas Junior National Championship Teams</h4>

        <p>Pumas is committed to qualifying a 14's, 16's and/or 18's teams to attend the 2018 Junior National Championships if there is enough interest, and staffing. Teams would be constructed from the top teams in each age division dependent upon player availability and commitment. More information can be found <a href="/assets/files/forms/FormNationalsPlayerAgreement.pdf" target="_blank">here</a></p>
      </div>
		</div>
</div>

<app-programs-side-menu></app-programs-side-menu>
