<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Open Division</h3>
			</div>
			<div class="panel-body">

        <p>These are usually our elite Pumas teams, and will usually play against other club's elite teams. The Open division has 14U, 16U, and 18U age groups. Girls who try out for Open level teams must be able to commit to two-three practices per week: one on Saturday for 2 1/2 hours, one skill practice on Tuesday evening for 2 hours, and one other weekday team practice (usually Thursday). The Open teams will travel to an out of region tournament (either Philly or Atlanta) in place of the Rhode Island Rumble. Conflicts with High School sports or vacations must be discussed with the director during tryouts. Girls who do not make the Open division will be placed accordingly on a club team depending upon their tryout. Both Open and Club divisions are trying out together this year.</p>

        <p>Open level teams will be entered into the Winterfest tournament in January and the NERVA Open division qualifier tournament in February. If they do well, they begin the season in the NERVA Open division, where the tournaments have adult refs and are held at higher quality gyms. Otherwise they would compete in the Club division, but could play their way up to Open during the season. They would continue to practice three times a week and be considered a Pumas Open level team.</p>

        <p>The Open teams' season runs from November tryouts through May. Practices begin in December. Parents provide transportation to practices and tournaments. Most Open tournaments are within an hour's drive, but some may be up to 2 ½ hours away. Players should try to to plan their vacations around practices and tournaments to the extent possible. During registration, players will be asked to indicate their tournament availability. Your availability and scheduling commitment level can affect what team you are placed onto.</p>

        <h3>General Information</h3>

        <div class="alert alert-info">
          <h4>Practices for Open teams in December</h4>
          <ul>
            <li>Saturdays 12/8, 12/15 and 12/29 at UMass Lowell Rec Center + Lowell Catholic HS. Time TBD after teams are made</li>
            <li>Tuesdays 12/4, 12/11 and 12/18 at GLTS from 7:30-9:30 pm</li>
            <li>Thursdays 12/6, 12/13, 12/20, 12/27 Location TBD</li>
          </ul>
          <br />
          <p>Please be available to practice on each of these days. They are very important as the first tournament comes quickly in January.</p>
        </div>

        <p>Please be available to practice on each of these days. They are very important as the first tournament comes quickly in January.</p>

        <h4>2019 Pumas Junior National Championship Teams</h4>

        <p>Pumas is committed to qualifying a 14's, 16's and/or 18's teams to attend the 2019 Junior National Championships if there is enough interest, and staffing. Teams would be constructed from the top teams in each age division dependent upon player availability and commitment. More information coming soon.</p>
      </div>
		</div>
</div>

<app-programs-side-menu></app-programs-side-menu>
