	<div class="col-md-9">
		<!-- Masonry Box -->
		<div class="masonry-box">
			<!-- Blog Grid -->
			<div class="blog-grid masonry-box-in col-3">
				<h1 class="text-center"><i class="fa fa-hourglass-start" aria-hidden="true"></i></h1>
				<h3 class="text-center">Where We've Been</h3>
				<p>The Pumas Volleyball Club (formerly known as the Andover Volleyball Club), by name, was founded in 2003 by Bonnie Zeigler and Steve McRoy. Its roots go back to 1995 when we began teaching volleyball to grades 2-5 at Sanborn Elementary as part of their "Explorations" before/after school program. We constructed poles out of 2x4s with holes at varying heights so the nets could be adjusted. We used two pickleball nets borrowed from the school, and large, soft beginner volleyballs.</p> 
				<p>In 1999 we added a program at West Middle for grades 6-8, and moved it to the new Wood Hill Middle school in 2002 while continuing to teach kids shuttled over from other middle schools.</p> 
				<p>In 2003 we added an after-school program at High Plain Elementary, and in winter of 2004 we started our Junior Olympic club teams.</p>
			</div>
			<!-- End Blog Grid -->

			<!-- Blog Grid -->
			<div class="blog-grid masonry-box-in col-3">
				<h1 class="text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i></h1>
				<h3 class="text-center">Who We Are</h3>
				<p>We are staffed by volleyball-loving enthusiasts and professionals. Our mission is to give kids the opportunity to learn power volleyball skills at an early age and in an organized way.</p> 
				<p>In our school programs we provide a low pressure environment where boys and girls can learn the basic skills and strategies, with everything scaled down to their size. We start each student with a ball appropriate for their age. We lower the nets so they can spike and block effectively, and we try to play games with just two or three on a side, so the kids get to touch the ball a lot and can't hide behind others.</p> 
				<p>We continue to coach grades 4-5 at Sanborn and High Plain Elementary, and grades 6-8 at Wood Hill Middle school.</p>
			</div>
			<!-- End Blog Grid -->

			<!-- Blog Grid -->
			<div class="blog-grid masonry-box-in col-3">
				<h1 class="text-center"><i class="fa fa-line-chart" aria-hidden="true"></i></h1>
				<h3 class="text-center">Growth &amp; Success</h3>
				<p>Our Junior Olympic program has grown from three teams in 2004, to five teams in 2005, to 12 teams in 2006, 21 teams in 2007, 26 teams in 2008, 29 teams in 2009, and 31 teams in 2010 and 2011.</p> 
				<p>Our 2005 and 2007 15s team was the New England champion, as were our 2005, 2006,and 2008 12s teams. Our 2006 open 16s team finished 3rd out of 86 teams in New England. We focus on quality in all aspects of volleyball - Individual Skills, Team Building, Refereeing, and Scorekeeping, for both players and coaches.</p>
				<p>For more information, please see our <a href="#">Frequently Asked Questions</a> and our <a href="#">Philosophy</a>.</p>
			</div>
			<!-- End Blog Grid -->

		</div>
		<!-- End Masonry Box -->

	</div>
			<div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Club Info <i class="fa fa-info-circle" aria-hidden="true"></i></h2>

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-about" routerLink="/club-about">About</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-bod" routerLink="/club-bod">Board Of Directors</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-contact" routerLink="/club-contact">Contact</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-directions" routerLink="/club-directions">Directions</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Club Info</small>
					<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
				</div>

			</div>

	</div>
		