<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">2016 Outdoor Tournaments</h3>
        </div>
        <div class="panel-body">
            <div clas="table-responsive">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                        <th width='20%'>Name</th>
                        <th width='15%'>Gen Info</th>
                        <th width='10%'>Dates</th>
                        <th width='10%'>Cost</th>
                        <th width='25%'>Contact Info</th>
                        <th width='10%'>Web Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Boston Volleyball Association</td>
                            <td>Outdoor Dbls in Newton Ma.</td>
                            <td>Multiple dates - Juniors Division</td>
                            <td>$50 per team</td>
                            <td>617-332-2320</td>
                            <td><a href="http://www.bostonvolleyball.com/tournaments.php" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>BSSC Vball tournaments</td>
                            <td>Outdoor Dbls at Multiple sites</td>
                            <td>Multiple dates - Juniors division</td>
                            <td>$30 per team</td>
                            <td>Laura@bssc.com<br/>
                            617-789-4070 x 223</td>
                            <td><a href='http://www.bssc.com/index.cfm?pid=10424&view=list&sb=Date&st=Desc&m=6&y=2015&type2=0&change=View' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>New England Beach Volleyball</td>
                            <td>Junior Beach Dbls</td>
                            <td>Multiple dates</td>
                            <td>$60-70 per team</td>
                            <td>info@nebeachvolleyball.com</td>
                            <td><a href='http://www.nebeachvolleyball.com/#!tournaments/c10ek' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Newport Beach Volleyball Tournaments</td>
                            <td>Newport Volleyball Club</td>
                            <td>6/21, 7/12, 7/19, 8/9</td>
                            <td>$40 per team</td>            
                            <td>&nbsp;</td>
                            <td><a href='http://www.newportvolleyballclub.com/tournaments/beach_tourney.php' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Spike U Beach Volleyball Tournaments</td>
                            <td>Junior Beach Dbls</td>
                            <td>Multiple dates</td>
                            <td>$40-50 per team</td>            
                            <td>Director@spikeu.org</td>
                            <td><a href='http://www.spikeu.org/BeachVolleyballTournaments.html' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Wootown Grass Doubles Volleyball Tournaments</td>
                            <td>Wootown Volleyball Club</td>
                            <td>Multiple Dates</td>
                            <td>$30 - $60 per team</td>            
                            <td>director@wootownvolleyball.com</td>
                            <td><a href='http://www.wootownvolleyball.com/#!grass-2s-tournaments/c1crj' target="_blank">Web Site</a>
                            </td>
                        </tr>        
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>

<app-links-side-menu></app-links-side-menu>