<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">2018 Outdoor Tournaments</h3>
        </div>
        <div class="panel-body">
            <div clas="table-responsive">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                        <th width='20%'>Name</th>
                        <th width='15%'>Gen Info</th>
                        <th width='10%'>Dates</th>
                        <th width='10%'>Cost</th>
                        <th width='25%'>Contact Info</th>
                        <th width='10%'>Web Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bluefish Bowl Vball Club</td>
                            <td>Scrambles Cranston, RI.</td>
                            <td>Multiple dates - Start 5/18</td>
                            <td>$25</td>
                            <td><a href="mailto:annemarie@bfbvcl.com">annemarie@bfbvcl.com</a></td>
                            <td><a href="https://bfbvc.com/tourneys/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Bluefish Bowl Vball Club</td>
                            <td>Tournaments Cranston, RI.</td>
                            <td>Multiple dates - Start 5/26</td>
                            <td>$25</td>
                            <td><a href="mailto:annemarie@bfbvcl.com">annemarie@bfbvcl.com</a></td>
                            <td><a href="https://bfbvc.com/tourneys/" target="_blank">Web Site</a></td>
                        </tr>
<!--                         
                        <tr>
                            <td>Boston Volleyball Association</td>
                            <td>Outdoor Grass Dbls in Newton Ma.</td>
                            <td>Multiple dates - Juniors Division</td>
                            <td>$50 per team</td>
                            <td>617-332-2320</td>
                            <td><a href="http://www.bostonvolleyball.com/tournaments.php" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>BSSC Vball Tournaments</td>
                            <td>Outdoor Grass Dbls at Multiple sites</td>
                            <td>Multiple dates - Juniors division</td>
                            <td>$30 per team</td>
                            <td><a href="Laura@bssc.com">Laura@bssc.com</a><br/>
                            617-789-4070 x 223</td>
                            <td><a href='http://www.bssc.com/index.cfm/pid/10424/y/0/m/0/sb/date/st/asc' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Newport Volleyball Club</td>
                            <td>Beach Dbls</td>
                            <td>Multiple dates</td>
                            <td>$60-$70</td>
                            <td><a href="http://www.newportvolleyballclub.com/page_element/compose_email/861308">Tournament Info</a></td>
                            <td><a href='http://www.newportvolleyballclub.com/page/show/2399884-beach-tournaments' target="_blank">Web Site</a>
                            </td>
                        </tr>
-->
                        <tr>
                            <td>North East Beach Volleyball</td>
                            <td>Junior Beach Dbls at Hampton Beach</td>
                            <td>06/9,06/23,07/08<br/>07/14,07/28,08/12</td>
                            <td>$60 per team</td>
                            <td><a href="mailto:info@nebeachvolleyball.com">info@nebeachvolleyball.com</a></td>
                            <td><a href='https://www.nebeachvolleyball.com/tourneys' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Spike U Beach Volleyball Tournaments</td>
                            <td>Junior Beach Dbls</td>
                            <td>Multiple dates</td>
                            <td>$40-50 per team</td>            
                            <td><a href="mailto:Director@spikeu.org">Melanie@SpikeU.org</a></td>
                            <td><a href='https://www.spikeu.org/home' target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - <br />Beach Tournaments</td>
                            <td>2v2 &amp; 3v3 <br />Hampton Beach</td>
                            <td>6/30, 7/22, 7/29 &amp; 8/11</td>
                            <td>$20 each, $50 all 4</td>
                            <td><a href='mailto:mike.ezekiel@gmail.com'>mike.ezekiel@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2018 Programs.pdf" target="_blank">Flyer</a><br />
                            <a href='https://www.volleyballmd.net' target='_blank'>Web Site</a></td>
                        </tr>   
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>

<app-links-side-menu></app-links-side-menu>