<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">12U COED: Competition Team Program</h3>
    </div>
    <div class="panel-body">
      <p>
        Pumas has redesigned our 12U program, it is now COED, and more
        development based than tournament based. While focusing on tournaments
        and gearing practices for those tournaments are still a good way to
        learn the sport, we feel that this change has some big advantages.
      </p>

      <ul>
        <li>
          Being skill and player focused will relieve some stress of learning a
          new sport. Focusing on the fun and skill of the game rather than the
          result of a tournament, lets the players progress quicker.
        </li>
        <li>
          Players at this age should not be specializing at any one position.
          Players will learn and get to play every position during practices.
        </li>
        <li>
          Having less time commitment initially allows players and their
          families an easier transition in to the commitment of youth sports,
          and most importantly, be enjoyed more by the players. At this age they
          should be experiencing multiple sports for better athletic development
          and enjoyment. This can be tough if one sport is monopolizing all of
          that Childs’ time.
        </li>
        <li>
          Lower cost for just starting. Committing to a full competitive team is
          a large family commitment in both time and money. Each club has their
          own price according to their costs (courts, coaches, uniforms, etc..).
          For those that are just starting out paying over $1000 for a program,
          plus travel and hotel fees, can be enough to make the sport
          unapproachable for many families.
        </li>
        <li>
          We can still play tournaments. While we will not be basing the
          practices on wins and losses, playing another team can be fun. If
          there is enough interest in playing tournaments, we will bring a team
          to play. There is no commitment to do any tournaments. The tournaments
          would be at no additional cost (other than team shorts).
        </li>
      </ul>

      <h3>Age Requirement</h3>
      <p>
        All players who meet the USAV requirement for 12U play are invited to
        attend our COED Program. Players must be under 12 through August 31st of
        the upcoming season year. Use the
        <a data-toggle="modal" href="#ageTester">Age Group Tester</a> to see if
        you're eligible for the 12U program. This program is recommended for
        ages 8 to 12. If younger than 8 years old, entry into the program would
        be on an individual basis after an assessment by the club director.
      </p>

      <h3>What is the experience required?</h3>
      <p>
        No previous volleyball or athletic experience necessary. Our
        instructional programs are designed with beginners in mind but all
        levels of play would benefit. Those players having experience above a
        beginner level can still benefit from repetitions through skill
        progressions and technique adjustments. We adjust our instruction based
        on the skill level of our participants. All players are accepted,
        regardless of background in the sport. Players learn at their own pace.
      </p>

      <h3>Adaptive Program</h3>
      <p>
        The 12U program uses a lighter ball and lower net. This is huge for
        children of this age not to have to play on the same size net or use the
        same size ball as adults. This helps the players progress in their
        development with a better self-image of what they can accomplish and
        what they dare to dream to accomplish. Here are some videos you can
        check out about what would happen if adults had to play on fields and
        courts that were scaled up for them.
      </p>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=X9Pc1vf_tlg" target="_blank"
            >Soccer Version</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=K8W0PtyPlD4" target="_blank"
            >Volleyball Version</a
          >
        </li>
      </ul>

      <h3>Practices</h3>
      <p>
        Will be once a week for approx. 90 minutes. Practices will be Sunday
        mornings between (Start date and Location TBD). Additional clinics and a
        possible Jamboree with other 12U programs will be announced when and if
        scheduled.
      </p>

      <h3>Cost</h3>
      <p>
        Will be $500 for the season. This covers courts, coaching and Pumas
        practice T-shirt. Full payment is required upon entry into the program,
        Refund policy:
      </p>
      <ul>
        <li>
          If a player incurs a season-ending injury (with a doctor's note)
          before March 1st, 2021, a partial pro-rated refund will be issued.
          After March 1st, 2021, no refunds will be given.
        </li>
        <li>
          Refunds are not given for an athletes' inability to attend practices
          or tournaments because of outside scheduling conflicts or lack of
          interest.
        </li>
      </ul>

      <h3>Uniforms</h3>
      <p>
        If players decide to do tournaments the team jersey will be provided by
        the club at no charge. The jerseys will be collected at the end of the
        season. The shorts will be an additional cost (est.$20-$25) and the
        players will keep them at the end of the season. The shorts will not be
        spandex.
      </p>

      <h3>Tournaments</h3>
      <p>
        Are optional. The region will have a list of 12U Triple Ball tournaments
        listed by the middle of December. If there is interest from the players,
        we will put teams/s in at no charge (except for team shorts). The Triple
        ball division of NERVA is coed but teams of all girls will be allowed to
        play.
      </p>

      <h3>Triple Ball Based</h3>
      <p>
        Players will be learning all the volleyball skills for each positions.
        We will base the learning on triple-ball based tournament play. This
        effectively triples the amount of touches that the players have during a
        typical game. Practices will be based on getting them to love the sport,
        have fun while working hard, and prepare them for entry into the higher
        age group competitive teams. Triple-ball was started in Canada and is
        played by their 14 and under teams.
      </p>

      <h3>USAV Membership</h3>
      <p>
        This is required by the USAV, our National Governing Body, that all
        players are members. We cannot let anyone on the court without this
        membership as this provides, among other things, insurance that allows
        us to run programs in these facilities. The Cost is $60 and the
        membership is effective until June 31st, 2021. This is a separate
        registration than Pumas and Pumas does not collect or receive any
        funding from this.
      </p>

      <h3>Season Registration</h3>
      <p>
        Please go to our
        <a href="/tryouts-registration" routerLink="/tryouts-registration"
          >registration page</a
        >
        for a step by step process of what you will need to do to register for
        the season. Make sure you go to the 12U COED Competition Team
        registration and not the inhouse skills, 12U fall program or tryout
        registration. There are no tryouts for the 12U COED Competition Team
        program
      </p>

      <h3>COED</h3>
      <p>
        In 2019-2020 the region has initiated 12U Triple ball as the first COED
        division While the genders are separated in most sports from 14 and
        older; learning volleyball, a non-contact sport, is highly effective in
        coed settings with ages 12 and under. This is just like their school.
        Unless your child goes to an all-Boys or all-Girls school their classes,
        including gym, are coed.
      </p>

      <h5>Benefits to COED play</h5>
      <ul>
        <li>
          At a young age, athletic skill matters more than gender. Coed play
          allows boys and girls to join a group based on ability rather than
          solely on gender. This promotes a great level of competition and
          increases skills.
        </li>
        <li>
          Placing boys and girls together on one team also goes a long way in
          combatting gender stereotypes and preconceived ideas about girls in
          sports. Coed teams create a great social environment for kids and can
          counter the notion that females can't be as competitive as their male
          counterparts.
        </li>
        <li>
          Girls start to grow faster at a younger age, keeping the level of
          competition equal.
        </li>
        <li>
          Boys and girls can learn from each other. Having both genders on one
          team can change how the game is played for the better. Girls tend to
          be more pass-oriented, while boys usually focus more on their own
          success in a game (basketball based but relevant to volleyball). Coed
          teams can help both sides grow and adapt, giving children a wider set
          of skills as they move forward in their preferred sport.
        </li>
        <li>
          <strong>Why should my child play volleyball?</strong>
          <a
            href="https://www.teamusa.org/USA-Volleyball/Features/2017/October/03/Ten-Great-Reasons-to-Love-Volleyball"
            target="_blank"
            >Ten Great Reasons to Love Volleyball</a
          >
        </li>
      </ul>

      <h3>What equipment does my child have to bring?</h3>
      <p>
        Any athletic attire is ok – t-shirt, shorts, athletic shoes. For shoes
        we do recommend volleyball specific shoes or basketball shoes as they
        are built for more of the stop and go, side to side motion of the game.
        Running shoes are built differently and lead to a higher risk factor for
        ankle injuries. Kneepads are recommended but not required. Any brand of
        soft knee pads available at your local sports store is acceptable.
        Please make sure your child has ample hydration (water or sports drinks
        are ok) at each session.
      </p>

      <h3>What are some of the skills focused on?</h3>
      <p>
        Hand-eye coordination, Motor skill development, Passing/defense,
        platform and footwork, Overhand passing/setting fundamentals, serving
        basics and foundation, attacking technique and strategy, defense and
        digging, serve receive, serving strategy.
      </p>

      <h3>What are some of the benefits?</h3>
      <p>
        Beside the progression and motor development of athletic sports skills
        players also learn that you can have fun while working hard, how to be a
        good teammate, what it means to commit to a team, your teammates and
        ultimately yourself.
      </p>

      <p>
        If you have any additional questions, please contact the Club Director:
        Stephen Boyle
        <a href="tel:+1-617-285-1362"
          ><i class="fa fa-phone"></i> 617-285-1362</a
        >
        or
        <a href="mailto:PumasVolleyballClub@gmail.com"
          ><i class="fa fa-envelope"></i> PumasVolleyballClub@gmail.com</a
        >
      </p>
    </div>
  </div>

  <app-agegroup-tester></app-agegroup-tester>
</div>

<app-programs-side-menu></app-programs-side-menu>
