<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Club Philosophy</h3>
			</div>
			<div class="panel-body">
        <p>To foster the development of athletic skill, knowledge, leadership, and sportsmanship in local and national amateur youth volleyball competition. We strive to develop the athlete as a whole rather than focus on winning as the sole benchmark.</p>

        <p>Some governing characteristics of our club are:
          <ul>
            <li>In 2016 we were represented by girls from 47 different schools throughout the Northeastern Massachusetts and Southern New Hampshire area.</li>
            <li>We hold practices on Saturdays instead of Sundays, for 2 1/2 hours whenever possible. This allows us to practice the day before each Sunday tournament plus Easter Saturday, and gives us around 45 hours of practice time per season, as opposed to as little as 24 hours for clubs who practice Sundays for 2 hours.</li>
            <li>Our club fee is competitive with other clubs.</li>
            <li>Our coaches are highly motivated, well-respected coaches and players in the local volleyball community. They love the sport, and love sharing their knowledge with young athletes.</li>
            <li>We place high importance on ALL aspects of volleyball: individual skills, team building, leadership, officiating, and scorekeeping. We hold annual clinics for officiating and scorekeeping so the girls (who must work the matches at tournaments) feel more comfortable and less intimidated. At most tournaments you will find that the Pumas teams make great work teams.</li>
            <li>We require a certain level of experience/talent to join - we don't accept beginners, and we do make cuts.</li>
            <li>We offer tryouts for both club and the elite open levels in our 14U, 16U, and 17/18U divisions</li>
            <li>In 2013, we were tied for the largest program in NERVA.</li>
            <li>We are continually motivated to improve the overall experience for each of our athletes, raise our coach's education level, and develop a stronger club administration.</li>
            <li>Pumas Volleyball Club is governed by an eight member, volunteer Board of Directors.</li>
          </ul>

          <h3>***TBD*** Club Season Results ***TBD***</h3>
          <p>While winning is not the top priority, it is still a goal we help our athletes to achieve. Our track record since the clubs inception is growing stronger every year.</p>
			</div>
		</div>
</div>

<app-programs-side-menu></app-programs-side-menu>
