<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Club Philosophy</h3>
			</div>
			<div class="panel-body">
        <p>To foster the development of athletic skill, knowledge, leadership, and sportsmanship in local and national amateur youth volleyball competition. We strive to develop the athlete as a whole rather than focus on winning as the sole benchmark.</p>

        <p>Some governing characteristics of our club are:
          <ul>
            <li>In 2016 we were represented by girls from 47 different schools throughout the Northeastern Massachusetts and Southern New Hampshire area.</li>
            <li>We hold practices on Saturdays instead of Sundays, for 2 1/2 hours whenever possible. This allows us to practice the day before each Sunday tournament plus Easter Saturday, and gives us around 45 hours of practice time per season, as opposed to as little as 24 hours for clubs who practice Sundays for 2 hours.</li>
            <li>Our club fee is competitive with other clubs.</li>
            <li>Our coaches are highly motivated, well-respected coaches and players in the local volleyball community. They love the sport, and love sharing their knowledge with young athletes.</li>
            <li>We place high importance on ALL aspects of volleyball: individual skills, team building, leadership, officiating, and scorekeeping. We hold annual clinics for officiating and scorekeeping so the girls (who must work the matches at tournaments) feel more comfortable and less intimidated. At most tournaments you will find that the Pumas teams make great work teams.</li>
            <li>We require a certain level of experience/talent to join - we don't accept beginners, and we do make cuts.</li>
            <li>We offer tryouts for both club and the elite open levels in our 14U, 16U, and 17/18U divisions</li>
            <li>In 2013, we were tied for the largest program in NERVA.</li>
            <li>We are continually motivated to improve the overall experience for each of our athletes, raise our coach's education level, and develop a stronger club administration.</li>
            <li>Pumas Volleyball Club is governed by an eight member, volunteer Board of Directors.</li>
          </ul>

			</div>
		</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Club Season Results</h3>
			</div>
			<div class="panel-body">
          <p>While winning is not the top priority, it is still a goal we help our athletes to achieve. Our track record since the clubs inception is growing stronger every year.</p>
          
          <h2 class="text-center">Top Finishes in Age Division</h2>
					
          <ul class="timeline-v2">

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2016</span> <span>18 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>17U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>9th out of 19</td>
                          <td>74th out of 189 in 16's<br/>
                          23rd out of 68 in 14's</td>
                          <td>53rd out of 189 in 16's<br/>
                          9th out of 104 in 15's</td>
                          <td>5th, 27th, 37th, out of 189</td>
                          <td>3rd out of 44</td>
                          <td>5th, 25th, 29th out of 128</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2015</span> <span>24 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>7th, 14th out of 74</td>
                          <td>34th, 39th, out of 138 in 16's<br/>
                          7th out of 91 in 15's</td>
                          <td>5th, 11th, 13th, out of 138</td>
                          <td>18th, 22nd out of 114</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2014</span> <span>34 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>3rd, 8th out of 18</td>
                          <td>7th out of 83 in 15's<br/>
                            3rd out of 59 in 14's</td>
                          <td>3rd, 11th, 20th, 29th out of 83</td>
                          <td>11th, 13th, 17th, 18th out of 146</td>
                          <td>5th, 13th, 23rd out of 109</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2013</span> <span>37 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>3rd out of 17</td>
                          <td>25th out of 120 in 16's<br/>
                          37th out of 60 in 15's</td>
                          <td>5th, 11th, 22nd, 37th out of 60</td>
                          <td>5th, 11th, 16th, 17th, 25th out of 120</td>
                          <td>9th, 27th, 28th, 30th out of 120</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2012</span> <span>33 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>27th out of 55 in 14's<br/>
                          5th out of 14 in 12's</td>
                          <td>33rd out of 121 in 16's<br/>
                          3rd, 7th, 24th, 27th out of 55 in 14's</td>
                          <td>8th, 9th, 13th out of 59</td>
                          <td>3rd, 10th, 17th, 27th, 33rd out of 121</td>
                          <td>19th, 27th out of 99</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2011</span> <span>31 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>36th out of 50 in 14's<br/>
                          7th out of 13 in 12's</td>
                          <td>1st, 3rd, 10th, 19th out of 50</td>
                          <td>28th out of 108  in 16's<br/>
                          7th, 13th, 21st, 33rd out of 56 in 15's</td>
                          <td>5th, 7th, 8th, 9th, 19th, 28th, 29th out of 108</td>
                          <td>19th, 37th out of 114</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2010</span> <span>31 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>15U</th>
                          <th>16U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1st out of 10</td>
                          <td>3 teams in top 8 out of 49</td>
                          <td>6 teams in top 28 out of 100</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2009</span> <span>29 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>16U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1st out of 9</td>
                          <td>1st, 2nd, 5th out of 47</td>
                          <td>7th out of 88</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

						<li class="equal-height-columns">
							<div class="cbp_tmtime equal-height-column"><span>2008</span> <span>26 Teams</span></div>
							<i class="cbp_tmicon rounded-x hidden-xs"></i>
							<div class="cbp_tmlabel equal-height-column">
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                          <th>12U</th>
                          <th>14U</th>
                          <th>15U</th>
                          <th>16U</th>
                          <th>18U</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>1st out of 10</td>
                          <td>2nd out of 51</td>
                          <td>2nd, 3rd out of 34</td>
                          <td>8th out of 96</td>
                          <td>18th out of 100</td>
                        </tr>        
                    </tbody>    
                </table>
							</div>
						</li>

					</ul>
			</div>
		</div>
    </div>
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>
