<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">A PARENTS GUIDE TO CHOOSING A VOLLEYBALL CLUB</h3>
    </div>
    <div class="panel-body">
      <p>Choosing a volleyball club is a difficult decision. It is a serious commitment in both time and money. This guide is intended to help the volleyball family make an educated decision about a large investment. </p>

      <p>Aside from the obvious benefits of learning and improving volleyball skills and playing the game; club ball provides a broad educational experience. It enhances athletic, social, and leadership skills. One of the best ancillary benefits of club volleyball is making new friends from new schools and new places. Since players regularly officiate matches when they are not playing, leadership skills and knowledge of the game is also enhanced. Many players from various clubs have gone on to be very successful college players, some are on scholarship. Some have gone on to coach high school or college or returned to coach club volleyball. </p>

      <p>Some teams will play tournaments only in town; other teams will travel to various tournaments throughout the country. While there is no guarantee your son or daughter will be seen by a college coach, there is a much better chance they will be seen if they play club volleyball. Since the high school season coincides with the college season, the heavier recruiting time is after the high school season during the club season. A majority of college coaches search for prospective players at Junior Olympic tournaments. Events such as regional tournaments, national qualifiers and the Junior Olympic Volleyball Championships attract the most college coaches. </p>

      <p>Club volleyball is a BIG commitment! The season usually runs from November to as long as July for those teams that attend the Junior Olympic Volleyball Championships. The cost can run as low as $700 per season to a high of more than $10,000 depending on the level of competition and the number and locations of the tournaments. Travel expenses are usually in addition to the regular club costs. Costs should be used for comparison between clubs to make sure you know what is and is not covered in their fees. </p>

      <p>The most important element is the kind of coaching your child will be getting for your investment. The parent should also consider what the purpose of sending your child to a club: recreation, more experience for high school play, or possible preparation to play in college. Practices may vary from once a week to several times a week. Tournaments may last one, two or up to four days of competition. </p>

      <p>As in any sport, coaches at each club have a wide range of coaching experience and abilities, from very successful high school and college level coaches to those with little experience. In some clubs the coaches are paid, some are volunteers, and, in most cases, they are reimbursed for their expenses. </p>

      <p>As a parent of a volleyball player you have a shared responsibility with the player. Two big responsibilities lie in providing support financially and assistance with transportation for the under-aged players. A third vital responsibility is your help encouraging good sportsmanship and responsible behavior. Of course, players love the encouragement parents provide. Parents also have the responsibility to conduct themselves in a reasonable, responsible manner. </p>

      <h4>QUESTIONS TO ASK AND CONSIDER WHEN CHOOSING A CLUB</h4>
      <ul>
        <li>How many practices a week will the team have and the duration of each practice? </li>
        <li>What day will they practice? </li>
        <li>Where will the practices be held? </li>
        <li>Do we have to practice during the holidays and on days following tournaments? </li>
        <li>If a team has more than one team in an age group, is the player assigned to the same team all year or can they be moved up or down? </li>
        <li>How many tournaments will we attend, when and where? </li>
        <li>Is the club a non-profit organization? </li>
        <li>Does each team within the club fund itself or are the monies shared between the teams? </li>
        <li>What is the coaching experience of each coach? </li>
        <li>What is the playing level of this team? Developmental? Competitive? Or Elite? </li>
        <li>Do you have a written standard of conduct for players and coaches for trips and practices? </li>
        <li>Are coaches required to travel with the team? </li>
        <li>Are parents required to travel with the team? </li>
        <li>Will tournament information such as when, where and how be given to each player as soon as possible before each tournament? Many times this information is not available until the last minute due to the late arrival of information from the tournament directors. </li>
        <li>Are the requirements of fundraisers clearly spelled out as to participation, distribution and accountability for funds etc.? </li>
        <li>Get a complete itemization in writing of what is being paid by your dues. </li>
        <li>Some clubs charge one fee for the entire season or charge an initial fee with periodic or monthly payments. Some teams use fundraisers to fund their teams and some teams use a combination of the above. Be sure to find out what is done with any remaining funds at the end of the season. Clubs have an obligation to fully disclose their financial policies and if unwilling, you may want to seek another club</li>
      </ul>

      <h4>IN CONCLUSION </h4>
      <p>Choosing a club is serious business. It is a family commitment in time and money as well as an individual commitment to one club for the duration of the season. A little time researching your options and opportunities may save you an unpleasant experience. Be sure to ask a lot of questions. If a club is hesitant to answer those questions, it is probably best to move on. Remember volleyball is supposed to be FUN! </p>
      <p>For further information regarding Pumas Volleyball Club or Club Volleyball in general, please do not hesitate to call me, 
        Stephen Boyle, at <a href="tel:+1-617-285-1362"><i class="fa fa-phone"></i> 617-285-1362</a> or email me at <a href="mailto:PumasVolleyballClub@gmail.com"><i class="fa fa-envelope"></i> PumasVolleyballClub@gmail.com</a> . All questions are encouraged and welcomed! </p>
      
      <div class="well">
        <h4 class="text-center">Pumas Volleyball Club Answers The Above Questions</h4>
        <ul>
          <li><strong>How many practices a week will the team have and the duration of each practice?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas there will be two practices a week for the club teams and three practices a week for the open team, unless at a tournament.</em></li>
            </ul> 
          </li>
          <li><strong>What day will they practice?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, our weekend practice is on Saturday which generally allows 6 more practices a season than other clubs who practice on Sunday (5 NERVA and Easter weekend)</em></li>
            </ul> 
          </li>
          <li><strong>Where will the practices be held?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, we have two facilities in Lowell Ma and one in Andover as our main gyms with other local gyms used depending on the gym availability. Unless rescheduled for weather all practice schedules are on the web site, not a last-minute decision.</em></li>
            </ul> 
          </li>
          <li><strong>Do we have to practice during the holidays and on days following tournaments?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, Practices are scheduled for every Saturday unless there is a tournament. We encourage players to go to every practice but understand there are other family, school, and multi-sport commitments that the player may have. This is where communication between player and coach should be extremely high as attendance at practices helps guide the practice plan for the team.</em></li>
            </ul> 
          </li>
          <li><strong>If a team has more than one team in an age group, is the player assigned to the same team all year or can they be moved up or down?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, once you are placed on a team you stay with that team for the entire season. Some clubs may move players to different teams through the season.</em></li>
            </ul> 
          </li>
          <li><strong>How many tournaments will we attend, when and where?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, you will attend 5-6 single day tournaments and 2-4 multi-day tournaments.</em></li>
            </ul> 
          </li>
          <li><strong>Is the club a non-profit organization?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>Pumas is a 501C3 non-profit.</em></li>
            </ul> 
          </li>
          <li><strong>Does each team within the club fund itself or are the monies shared between the teams?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, each program (Club, Open, Skills clinic, 12U) pays their cost as well as the general club costs. One program is not funding another program.</em></li>
            </ul> 
          </li>
          <li><strong>What is the coaching experience of each coach?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, we have coaches who are just beginning to over 35 years of coaching experience. We are dedicated to progressing ALL of our coaches education and experience regardless of how much experience they have.</em></li>
            </ul> 
          </li>
          <li><strong>What is the playing level of this team? Developmental? Competitive? Or Elite?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, if you have made a Club or Open team these are competitive level teams. Our Sunday Skills program is geared specifically for development. Many clubs advertise their teams as Elite or National, these are just names and do not forecast the level of play for that team. Some of Pumas club level teams finish ahead of other clubs ‘Elite’ teams. Do not be swayed by the name.</em></li>
            </ul> 
          </li>
          <li><strong>Do you have a written standard of conduct for players and coaches for trips and practices?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, we have both a Parent and player handbook and a coaches handbook that address everything from practices to travel tournaments.</em></li>
            </ul> 
          </li>
          <li><strong>Are coaches required to travel with the team?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, travel is the responsibility of the parent, or if old enough, the player</em></li>
            </ul> 
          </li>
          <li><strong>Are parents required to travel with the team?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, we encourage you to not just come and watch your daughter play tournaments but practices as well. However, there is no requirement that a parent has to travel to tournaments.</em></li>
            </ul> 
          </li>
          <li><strong>Will tournament information such as when, where and how be given to each player as soon as possible before each tournament? Many times this information is not available until the last minute due to the late arrival of information from the tournament directors.</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas all tournament dates are already advertised on our web site. Information about playing schedule is usually not available until the Wednesday before the start of a tournament, when the tournament publishes the information. All multi-day tournament locations are known but the NERVA single day tournament locations, which are all over New England, are not advertised until the Wednesday before. (This is true for all clubs.)</em></li>
            </ul> 
          </li>
          <li><strong>Are the requirements of fundraisers clearly spelled out as to participation, distribution and accountability for funds etc.?</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, we do not ask the players or parents to do any fundraising at this time.</em></li>
            </ul> 
          </li>
          <li><strong>Get a complete itemization in writing of what is being paid by your dues.</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, the season fee pays for practice courts, tournaments, uniforms, coaches fees, coaches travel reimbursement, coaches education, player education, and general business (web site, advertising, equipment, balls, etc..). The largest costs being the practice courts and tournament fees.</em></li>
            </ul> 
          </li>
          <li><strong>Some clubs charge one fee for the entire season or charge an initial fee with periodic or monthly payments. Some teams use fundraisers to fund their teams and some teams use a combination of the above. Be sure to find out what is done with any remaining funds at the end of the season. Clubs have an obligation to fully disclose their financial policies and if unwilling, you may want to seek another club</strong>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-hand-o-right"></i><em>At Pumas, there is one fee for the entire season (other than players travel + hotel) which is now paid in several installments. There is a deposit made at tryouts to hold your placement on a team. If you made a team the first payment is due with one week with final payments due in Jan + Feb (Open teams have three payments, Club teams have two). All fees must be paid by February 1. There will be monthly reminders sent out and a 5% late fee for fees not paid on time. If a player is not paid by 2/1 they will not be allowed to practice or play until their account has been settled.</em></li>
            </ul> 
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>