
			<div class="col-md-3">
				<div class="margin-bottom-50">
					<h2 class="title-v4">More in Tryouts </h2>

					<div class="blog-thumb-v3">
						<small>Tryouts</small>
						<h3><a href="/tryouts-guidelines" routerLink="/tryouts-guidelines">Guidelines</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small>Tryouts</small>
						<h3><a href="/tryouts-expect" routerLink="/tryouts-expect">What to Expect</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small>Tryouts</small>
						<h3><a href="/tryouts-registration" routerLink="/tryouts-registration">Registration</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small>Tryouts</small>
						<h3><a href="/schedule-tryouts" routerLink="/schedule-tryouts">Schedule</a></h3>
					</div>

					<hr class="hr-xs">

					<div class="blog-thumb-v3">
						<small>Tryouts</small>
						<h3><a href="/tryouts-results" routerLink="/tryouts-results">Results</a></h3>
					</div>

				</div>
			</div>
            	