<div class="col-md-9">

    <div class="panel panel-black equal-height-column">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Pumas Frequently Asked Questions</h3>
      </div>
      <div class="panel-body">

      <div class="tab-v2">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#General-1" data-toggle="tab"><i class="fa fa-question-circle-o" aria-hidden="true"></i> General</a></li>
          <li><a href="#Tournament-1" data-toggle="tab"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Tournament</a></li>
          <li><a href="#RulesEquip-1" data-toggle="tab"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Rules &amp; Equipment</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="General-1">

            <!-- General FAQ -->
            <div class="panel panel-green equal-height-column">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Pumas FAQ: General</h3>
              </div>
              <div class="panel-body">
                <strong>***TODO*** Check content for URL links</strong>

                <!-- Accordion v1 -->
                <div class="panel-group acc-v1" id="accordion-1">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> If you don't allow beginners, how do I get started?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Unfortunately, we don't have the resources to train beginners within the Pumas season. Summer camps are a great introduction to organized volleyball, as are local YMCA or in-town community programs.</p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How do I find a good volleyball camp?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>We list many local camps on our Camps page under "Links". Read the article by John Kessel and another by Chuck Rey on helping parents choose the best camp for their child here). You can also ask other players/parents what camps they liked. </p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How is the cost of the program calculated?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>The Pumas Volleyball Club (PVC) is a non-profit organization with a Board of Directors that are volunteers. Of the membership fees paid to the club, about 45% pays for the gym space for practices and tournaments, 22% is for Coaches, 16% goes to uniforms and the rest goes to equipment and administrative costs. Open (travel) teams incur additional costs for additional practices and tournaments, (more expensive tournament, and paid adult referees). Also see the question on the Open League below. </p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> What is the refund policy?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Refer to the <a href="/programs-cost" routerLink="/programs-cost">Program Costs</a> page </p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How do you construct the teams and make cuts?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Many factors go into the decision of how to make teams. It starts with pre-registrations, which give us an idea of how many teams we could make and how many coaches we'll need. At tryouts, we assemble as many coaches as feasible to evaluate player skills. We also use coaches evaluations from prior years, and of course we have to consider the positions the girls want to play and are good at. After the tryouts end, the coaches meet for many hours to discuss the player ratings and form teams. In the largest age divisions we create AA, A, B, and C levels so that a girl's teammates are of similar strength. The decision to cut players is a painful one, but often necessary in the situation where there are too many players for an age group, and/or the skill level of a player is notably below the others.</p> 

                        <p>In addition, your daughters practice and tournament availability is factored into the team selection process. This means the less practice availability that a player has the harder it will be to find a team she may fit into. </p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-6">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> Can my friend(s) play on my team?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-6" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Our top priority is to provide the best possible experience for all players. We rate players and put them on teams based on their level of play and their position, not on their geographic location or school. We recognize that carpooling is important to many families, but our primary goal is to make the strongest team at each level. After teams are built but before they are finalized, we do look to see if there are any possible trades that could put girls from the same town together to facilitate carpooling, but only within the same level and only if it doesn't compromise either team's positional makeup. A parent from both players must request this prior to team selection.</p>

                        <p>If a parent requests for two players to be on the same team together there are additional requirements. The higher rated player (from tryouts) will be placed on the lower rated players team. Pumas will send you an additional questionnaire to answer what you would like to happen in all circumstances (one player does not make it etc..).</p>

                        <p>One of the benefits of club volleyball is its ability to make new friendships, and this philosophy has worked extremely well for us toward that goal.</p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-7">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How do you construct the teams and make cuts?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-7" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Many factors go into the decision of how to make teams. It starts with pre-registrations, which give us an idea of how many teams we could make and how many coaches we'll need. At tryouts, we assemble as many coaches as feasible to evaluate player skills. We also use coaches evaluations from prior years, and of course we have to consider the positions the girls want to play and are good at. After the tryouts end, the coaches meet for many hours to discuss the player ratings and form teams. In the largest age divisions we create AA, A, B, and C levels so that a girl's teammates are of similar strength. The decision to cut players is a painful one, but often necessary in the situation where there are too many players for an age group, and/or the skill level of a player is notably below the others.</p> 

                        <p>In addition, your daughters practice and tournament availability is factored into the team selection process. This means the less practice availability that a player has the harder it will be to find a team she may fit into. </p> 
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-8">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How many players do Pumas teams have?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-8" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Our target is 10 players per team. Some may have 9 or 11. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-9">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> My daughter is a great player, shouldn't she play up an age group?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-9" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>This is a controversial issue in club volleyball. First, many parents (understandably) have a higher regard for their daughter's skills than the coaches. Second, many parents and high school coaches believe that their daughters will improve quicker by playing on a higher level team. This is not necessarily true. The girls want and need play-time, and a girl playing over her head as the weakest player on a team will sit on the bench a lot and will likely have a lower self-image than one who plays at her skill level. Girls who are among the strongest on their team can also excel in leadership skills. The ideal team is one which has no weakest nor strongest player, but where every girl has a role to play and feels important. That's what we strive for at Pumas. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-10">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> Are the coaches trained?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-10" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Every Pumas coach is required to take a coaches training course called IMPACT - Increased Mastery and Professional Application of Coaching Theory. Some of our coaches have additional certification as well, such as CAP - Coaching Accreditation Program, or USAV referee's certification. Most have high school and/or college coaching or playing experience. Pumas feels that improving our coaches skills will directly benefit the athletes. In 2014, we began aggressively improving our coaching education program and implemented a mentoring program for those less experienced coaches. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-11">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How are practice times decided?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-11" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Practice times for both the Open and Club division are decided in mid-December after the teams are made. When every team is formed we use the practice availability information that you entered in your registration. We do this so everyone on the team will be able to practice together. We then look to place each team at one of our 7 practice facilities. At this time players may be changed from one team to another (same age and level) to allow all teams to practice together. Once this is finished and double checked we announce the teams practice times on the web site.</p> 

                        <p>Throughout the season your team may have some practice time or location changes due to weather and court availability. Not every facility allows us full access all season. Your coach will make you aware of these ahead of time. Pumas will also keep changes updated on our calendar. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-12">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> What happens if my daughter misses a tryout date?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-12" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Historically we have had to make cuts at every age group except 12U. We have 450 to 550 girls trying out every year so we highly recommend that you attend all tryouts. However, technically you only need to be at one of them. The major disadvantage at missing a tryout date is that we will have incomplete data to use as a comparison with all attendees (at that age group and level). Also, we do not have players tryout outside of their age group if they have a scheduling conflict. This distorts the data collected on that player, as well as any other player they are interacting with. To make the best informed choices we can for our team building we would love to have as much data as possible. We do not penalize you for missing a tryout and will use whatever data we have collected during our team building. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-13">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> What happens if I do not make a team?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-13" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>We are limited in that the number of girls trying out exceeds the number of coaches we have. If you do not make an Open or Club level team you can still participate in our <a href="/programs-inhouse" routerLink="/programs-inhouse">In House Skills Program</a>. We also inform those players that are cut of other clubs who may still be having tryouts. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-14">
                          <i class="fa fa-caret-right" aria-hidden="true"></i> How do I know if practice is cancelled due to inclement weather?
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-14" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>You will be contacted by your coach if practice or tournaments are cancelled because of inclement weather. These are last minute decisions. Safety is the first concern. Traveling during inclement weather is a personal one and there are no repercussions for any athlete that could not attend due to inclement weather. If not attending you must let your coach know ASAP. </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- End General FAQ -->

          </div>
          <div class="tab-pane fade in" id="Tournament-1">

            <!-- Tournament FAQ -->
            <div class="panel panel-blue equal-height-column">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Pumas FAQ: Tournaments</h3>
              </div>
              <div class="panel-body">

                Tournaments FAQs

              </div>
            </div>
            <!-- End Tournament FAQ -->

          </div>
          <div class="tab-pane fade in" id="RulesEquip-1">

            <!-- Rules & Equipment FAQ -->
            <div class="panel panel-default equal-height-column">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Pumas FAQ: Rules &amp; Equipment</h3>
              </div>
              <div class="panel-body">

                Rules &amp; Equipment FAQs

              </div>
            </div>
            <!-- End Rules & Equipment FAQ -->
          </div>
        </div>
      </div>

      </div>
    </div>

</div>

<app-club-side-menu></app-club-side-menu>