<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Boys Program</h3>
    </div>
    <div class="panel-body">

      <p>After 15 years of providing superior Pumas Girls programs we have added a Boys program for the 2019-2020 season. We are excited to bring the same passion we have for developing female athletes to a boys program that will help teach them to love the game of volleyball and prepare them for future High School and College competition.
      </p>

      <h3>General Information</h3>

      <div class="alert alert-info">
        <h4>Tryouts Sunday 10/6/19 and Sunday 10/13/19</h4>

        <p>Tryouts will be held on Sundays, October 6th and 13th at the Lawrence Boys and Girls club. You must attend at least one of the tryouts to be considered for a team.</p>

        <p>Teams will be made from those at tryouts. We anticipate forming a younger team (U15/U16) and an older team (U17/U18).</p> 
        
        <p>For more information on what is required to register, see the <a href="/tryouts-registration" routerLink="/tryouts-registration">registration page</a> </p>
      </div>

      <div class="alert alert-success">
        <h4>Practices for Boys Teams</h4>
        <p>Practices will be on Sundays for 2 1/2 hours and Wednesday nights for 2 Hours.  Practice times and locations will be announced when the teams are formed.</p>

        <p>We practice in facilities from Lowell Ma. to Plaistow NH. We expect all Boys teams to practice in Lawrence and Plaistow for this season. <a href="/club-directions" routerLink="/club-directions">Directions</a> to Pumas facilities.</p>
      </div>

      <div class="alert alert-info">
        <h4>Tournaments + Fees</h4>

        <p>The fee for the two tryouts is $45.</p>

        <p>The season fee will be a range of $1900-$2200 depending on the number of teams formed. The season fee includes:
          <ul>
            <li>Approximately 30 practice sessions (2 per week depending on tournaments)</li>
            <li>4 Single day tournaments - NERVA Regional</li>
            <li>4 Multi-day tournaments
              <ul>
                <li><a href='https://jvctournaments.com/WickedTournamentInfo' target='_blank'>Wicked Good Challenge</a></li>
                <li><a href='https://jvctournaments.com/WinterfestTournamentInformation' target='_blank'>Winterfest</a></li>
                <li>Rochester Can-Am</li>
                <li><a href='https://jvctournaments.com/MizunoBostonVolleyballFestival' target='_blank'>Boston Volleyball Festival</a></li>
              </ul>
            </li>
            <li>2 pairs of shorts, use of 2 Competition jerseys</li>
            <li>Use of <a href='https://www.hudl.com/sports/volleyball/club' target='_blank'>HUDL video</a> review and analysis</li>
            <li>Coaches Stipend and travel expenses</li>
            <li>Chaperone for travel tournaments</li>
          </ul>
      </div>

      <div class="alert alert-success">
        <h4>Registration for Boys Teams</h4>
        <p>The registration for the Boys Program is currently being finalized and should be available on the web site by 9/14. Please review the <a href="/tryouts-registration" routerLink="/tryouts-registration">registration information</a> and requirements for the Girls Program as most of the details will be the same.</p>
      </div>

      <div class="alert alert-info">
        <h4>USA Volleyball Membership</h4>
        <p>All players will need a USA Volleyball (USAV) membership to participate in the season and attend any tryout. This is a cost of $60 and is paid directly to USA Volleyball (our national governing body). Instructions to <a href="/usav-registration" routerLink="/usav-registration" target="_blank">register (join or renew) with USAV</a> can be found on our web site</p>
      </div>
  
      <h4>2020 Pumas Boys Junior National Championship Teams</h4>

      <p>The 2020 Boys Junior National Championships will be held in Reno Nevada from June 27 to July 4. Pumas is committed to qualifying and attending if there is enough interest and staffing. Teams would be constructed from the top players in each age division dependent upon player availability and commitment.</p>
    </div>      

  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>