<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">Boys Program</h3>
    </div>
    <div class="panel-body">

      <p>After 15 years of providing superior Pumas Girls programs we have added a Boys program for the 2019-2020 season. We are excited to bring the same passion we have for developing female athletes to a boys program that will help teach them to love the game of volleyball and prepare them for future High School and College competition.
      </p>

      <div class="panel panel-blue equal-height-column">
        <div class="panel-heading">
          <h3 class="panel-title">Boys Fall Practice Program</h3>
        </div>
        <div class="panel-body">

          <dl class="dl-horizontal">
    
              <dt>Session:</dt> 
              <dd>The program will run for 6 weeks starting Sunday 10/13/19.</dd>
    
              <dt>Time:</dt>
              <dd>Sundays morning from 9:00 am - 11:30 am</dd>

              <dt>Location:</dt> 
              <dd><a href="/club-directions" routerLink="/club-directions">Lawrence Boys and Girls Club</a></dd>
              
              <dt>Cost:</dt> 
              <dd>$200 per player</dd>
    
              <dt>USAV Registration:</dt> 
              <dd>Available USAV membership options:
                <ul>
                  <li>If also doing a competition team at another club then purchase a full USAV membership ($60) </li>
                  <li>If just doing the boys fall practice and the COED skills session in Dec/Jan at most then purchase the tryout membership ($15)</li>
                </ul>
              </dd>
    
              <dt>Practices:</dt>
              <dd>Practice time will be spent on individual skills (passing, serving, setting, hitting) and then learning how to apply those skills in game-like situations. </dd>

              <dt>Program Registration:</dt> 
              <dd>At this time, use the <a href="/tryouts-registration" routerLink="/tryouts-registration"> Boys Competition Team Registration</a> but do not pay any fees online.</dd>
    
            </dl>

        </div>
      </div>

      <h3>Team Program General Information</h3>

      <div class="alert alert-success">
        <h4>Practices for Boys Teams</h4>
        <p>Practices will be on Sundays for 2 1/2 hours and Wednesday nights for 2 Hours.  Practice times and locations will be announced when the teams are formed.</p>

        <p>We practice in facilities from Lowell Ma. to Plaistow NH. We expect all Boys teams to practice in Lawrence and Plaistow for this season. <a href="/club-directions" routerLink="/club-directions">Directions</a> to Pumas facilities.</p>
      </div>

      <div class="alert alert-info">
        <h4>Tournaments + Fees</h4>

        <p>The fee for the tryout is $60.</p>

        <p>The season fee will be a range of $1900-$2200 depending on the number of teams formed. The season fee includes:
          <ul>
            <li>Approximately 30 practice sessions (2 per week depending on tournaments)</li>
            <li>4 Single day tournaments - NERVA Regional</li>
            <li>4 Multi-day tournaments
              <ul>
                <li><a href='https://jvctournaments.com/WickedTournamentInfo' target='_blank'>Wicked Good Challenge</a></li>
                <li><a href='https://jvctournaments.com/WinterfestTournamentInformation' target='_blank'>Winterfest</a></li>
                <li>Rochester Can-Am</li>
                <li><a href='https://jvctournaments.com/MizunoBostonVolleyballFestival' target='_blank'>Boston Volleyball Festival</a></li>
              </ul>
            </li>
            <li>2 pairs of shorts, use of 2 Competition jerseys</li>
            <li>Use of <a href='https://www.hudl.com/sports/volleyball/club' target='_blank'>HUDL video</a> review and analysis</li>
            <li>Coaches Stipend and travel expenses</li>
            <li>Chaperone for travel tournaments</li>
          </ul>
      </div>

      <div class="alert alert-success">
        <h4>Registration for Boys Teams</h4>
        <p>Registration is open for the Boys Team Program! See the <a href="/tryouts-registration" routerLink="/tryouts-registration"> Boys Program Registration</a> section of the registration page for more details.</p>
      </div>

      <div class="alert alert-info">
        <h4>USA Volleyball Membership</h4>
        <p>All players will need a USA Volleyball (USAV) membership to participate in the season and attend any tryout. This is a cost of $60 and is paid directly to USA Volleyball (our national governing body). Instructions to <a href="/usav-registration" routerLink="/usav-registration" target="_blank">register (join or renew) with USAV</a> can be found on our web site</p>
      </div>
  
      <h4>2020 Pumas Boys Junior National Championship Teams</h4>

      <p>The 2020 Boys Junior National Championships will be held in Reno Nevada from June 27 to July 4. Pumas is committed to qualifying and attending if there is enough interest and staffing. Teams would be constructed from the top players in each age division dependent upon player availability and commitment.</p>
    </div>      

  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>