<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">What to Expect at Tryouts</h3>
			</div>
			<div class="panel-body">
        <p>Download our 2017 Tryout Drill Plan for an overview of drills you will perform. Specific instructions will be given during tryouts. Listening and following directions are part of the tryout. Have your full focus on what you need to do. If you have questions ask (we love questions).</p>

        <p>You should arrive 30 minutes prior to the start of tryouts for check-in and registration. Most athletes are more comfortable at the tryout when arriving early. If you are registering as a walk-in it is recommended that you arrive no later than 45 minutes early to the tryout.</p>

        <p>Once you have checked-in or turned in your paperwork, you will pick up your tryout numbers and pin one to the front of your shirt and one to the back. The number is specifically assigned to you - remember it as all your evaluations will be listed under that number. You will have the same number throughout the whole tryout.</p>

        <p>Everyone will have a picture taken with their number. This will be used by the coaches when building teams.</p>

        <p>When it is time to start, the coaches will pull the athletes together and have a short meeting.</p>

        <p>Some coaches will be leading the drills, while others will be strictly evaluating. Remember, this is a tryout not a camp, so the coaches will probably not give you any coaching or feedback - they are just there to either run the drills or evaluate your play. If they do give you feedback or coaching they are assessing how coachable you are (do you listen when they tell you to change or attempt something). You will be evaluated on all skills pertinent to your position as well as general overall skill and athletic level.</p>

        <p>During the tryout process, it is not unusual for some girls to decide they would rather not continue trying out. If you think you would like to withdraw from consideration for a spot on a team, please talk it over first with one of the coaches; it is possible you may be underestimating your chances.</p>

        <p>At the end of the tryout, there may be a small wrap-up meeting. The most important thing is that you have fun and enjoy playing the game of volleyball! Pumas coaches can judge your ability and potential by watching you play, so the more you work hard and really enjoy yourself, the more it will show in your evaluation</p>

        <p>Results will be posted on the web site on November 24th, 2016 (Open) and 5pm December 9th, 2016 (Club). Results will be posted by your tryout number (write it down).</p>
      </div>
    </div>

		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">Tryout Advice</h3>
			</div>
			<div class="panel-body">
        <h4>What Should I Wear</h4>
        <ul>
          <li>Wear the proper volleyball clothes; this is not a fashion show.</li>
          <li>Kneepads will help protect your knees.</li>
          <li>Correctly fitting shorts or spandex. If you are constantly tugging on them to pull them down they are too small.</li>
          <li>Sports Bra - Wear a sports bra for proper support (how to find the right fit and sports bra for you).</li>
          <li>Volleyball shoes - Running, tennis or cross training shoes are not built for volleyball and can lead to an increase risk of injury.</li>
          <li>Socks - Wearing the proper socks will help reduce blisters.</li>
          <li>Comfortable shirt - wear a comfortable crew neck shirt. Spaghetti straps, tank tops and vee necks are not recommended.</li>
          <li>Hair - Make sure your hair is pulled up off your face so you do not have to fix it during tryouts or practice.</li>
          <li>Excessive distractions by constantly fixing your workout gear or hair is seen by coaches and will detract from your skill level.</li>
        </ul>

        <h4>How to do Your Best at Tryouts</h4>
        <ul>
          <li>Read this article from the Spring 2003 issue of Volleyball USA</li>
          <li>Use Positive Self-Talk. Don't talk about how bad you are at hitting etc.</li>
          <li>Practice Daily. Start practicing about 2 months or so before tryouts. Practice about 60 minutes daily with a friend or by yourself.</li>
          <li>Strength and Conditioning. Daily general strength (push-ups and sit-ups) and cardiovascular training (biking, running, swimming) will help prepare you.</li>
          <li>Call the Ball. When the ball is coming toward you yell "Mine!" or "Got it!" to let other members know that you have the ball and they won't go after it.</li>
          <li>Learn the rules. Review the rules at the <a href="http://www.volleyballreftraining.com/rules_interpretations_indoor.php" target="_blank">USAV website</a> </li>
        </ul>

        <h4>Make a Positive Impression</h4>
        <p>Apart from performing well in the drills and the strength and conditioning assessments, there are certain attributes that coaches look for in potential players. USA Volleyball and the Pumas Volleyball Club look for several attributes when it assesses players: 
        <ul> 
          <li>teamwork</li>
          <li>positive attitude</li>
          <li>versatility</li>
          <li>maturity</li>
          <li>ability to take direction from the coach</li>
        </ul>

        In addition to these qualities, it's important to be confident. Coaches want to see players who want the ball, so be vocal, call for the ball and don't forget to hustle. When the coach blows the whistle to stop the drill and call the players into a huddle, run to the huddle.


      </div>
    </div>

</div>

<app-tryout-side-menu></app-tryout-side-menu>