<div class="col-md-3">
  <!-- Blog Thumb v3 -->
  <div class="margin-bottom-50">
    <h2 class="title-v4">More in Education <i class="fa fa-binoculars" aria-hidden="true"></i></h2>

    <div class="blog-thumb-v3">
      <small>Education</small>
      <h3><a href="/education-coaches" routerLink="/education-coaches">Coaches Education</a></h3>
    </div>

    <hr class="hr-xs">

    <div class="blog-thumb-v3">
      <small>Education</small>
      <h3><a href="/education-parent" routerLink="/education-parent">Parent Education</a></h3>
    </div>

    <hr class="hr-xs">

    <div class="blog-thumb-v3">
      <small>Education</small>
      <h3><a href="/education-player" routerLink="/education-player">Player Education</a></h3>
    </div>

  </div>
  <!-- End Blog Thumb v3 -->

</div>