
			<div class="margin-bottom-10">
				<h2 class="title-v4">Gallery Additions</h2>

        <div class="row picture-row">
          <div class="col-md-12">
            <img src="/assets/img/photo-gallery/champions/2016/Sapphire 15 NERVA V Gold.jpg" height="85">
            <a href="/gallery-champions-list" routerLink="/gallery-champions-list">More Champions...</a>
          </div>
        </div>

        <div class="row picture-row">
          <div class="col-md-12">
            <img src="/assets/img/photo-gallery/champions/2015/Emerald_NERVA_I.jpg" height="85" >
            <a href="/gallery-on-court" routerLink="gallery-on-court">More On The Court...</a>            
          </div>
        </div>

        <div class="row picture-row">
          <div class="col-md-12">
            <img src="/assets/img/photo-gallery/off-the-court/2016/Sapphire Doubles Queen of the Court.jpg" height="85" >
            <a href="gallery-off-court" routerLink="gallery-off-court">More Off The Court...</a>            
          </div>
        </div>

			</div>
