  <h2 class="title-v4">Gallery Additions</h2>
  
  <div class="owl-carousel-style-v2 margin-bottom-10">
    
    <div class="owl-slider-v3">
      <div id="galleryAdditions">
        <div class="item">
          <img class="img-responsive" src="/assets/img/photo-gallery/off-the-court/2017/VBMD-BT-3-7.jpg" alt="">
          <a href="gallery-off-court-list" routerLink="/gallery-off-court-list">More Off The Court...</a>
        </div>
        <div class="item">
            <img class="img-responsive" src="/assets/img/photo-gallery/on-the-court/2017/winterfest-midnight-f77d805f29_z.jpg" height="85" >
            <a href="/gallery-on-court-list" routerLink="/gallery-on-court-list">More On The Court...</a>   
        </div>
        <div class="item">
            <img class="img-responsive" src="/assets/img/photo-gallery/champions/2017/emerald-nerva-v-bronze-gold.jpg" height="85">
            <a href="/gallery-champions-list" routerLink="/gallery-champions-list">More Champions...</a>
        </div>
      </div>
    </div>

  </div>
