.gallery-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.service-block-v1{
    padding: 30px 10px 10px;
}

.service-block-v1 i{
    background: #daa520; /* #72c02c; - green*/
}