	<div class="col-md-9">
	
    <h2 class="text-center"><span aria-hidden="true" class="icon-sport-004"></span> Pumas Champions</h2>

    <div class="row  margin-bottom-30">    
        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a href="/gallery-champions/2016" routerLink="/gallery-champions/2016" >
                <img class="img-responsive" src="/assets/img/photo-gallery/champions/2016/Sapphire 15 NERVA V Gold.jpg" width="160" height="120" alt="">
                2016 Champions
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a href="/gallery-champions/2015" routerLink="/gallery-champions/2015" >
                <img class="img-responsive" src="/assets/img/photo-gallery/champions/2015/Emerald_NERVA_I.jpg" width="160" height="120" alt="">
                2015 Champions
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2014 Champions
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2013 Champions
            </div>
          </div>
        </div>                
    </div>

    <div class="row  margin-bottom-30">    
        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2012 Champions
            </div>
          </div>
        </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2011 Champions
            </div>
          </div>
        </div>                

      <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2010 Champions
            </div>
          </div>
      </div>

        <div class="col-sm-3 sm-margin-bottom-30" >
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <span aria-hidden="true" class="icon-sport-004 sport-icon-default"></span>
              <br/>2019 Champions
            </div>
          </div>
        </div>         
    </div>    

	</div>

  <div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Pictures <i class="fa fa-camera"></i></h2>

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="/gallery-champions-list" routerLink="/gallery-champions-list">Champions</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="/gallery-on-court" routerLink="gallery-on-court">On The Court</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="gallery-off-court" routerLink="gallery-off-court">Off The Court</a></h3>
				</div>

			</div>
	</div>