
	<div class="col-md-3">
		<div class="margin-bottom-50">
			<h2 class="title-v4">More in Club Info <i class="fa fa-info-circle" aria-hidden="true"></i></h2>

			<div class="blog-thumb-v3">
				<small>Club Info</small>
				<h3><a href="/club-about" routerLink="/club-about">About</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Club Info</small>
				<h3><a href="/club-bod" routerLink="/club-bod">Board Of Directors</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Club Info</small>
				<h3><a href="/club-contact" routerLink="/club-contact">Contact</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Club Info</small>
				<h3><a href="/club-directions" routerLink="/club-directions">Directions</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Club Info</small>
				<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
			</div>

		</div>
	</div>
