	<div class="col-md-9">
	
<h2 class="text-center"><span aria-hidden="true" class="icon-sport-004"></span> {{galleryYear}} Champions</h2>

    <div class="row  margin-bottom-30" *ngFor="let gallery of galleryList">    

        <div class="col-sm-3 sm-margin-bottom-30" *ngFor="let galleryRow of gallery">
          <div class="gallery-picture text-center">
            <div class="thumbnails thumbnail-style">
              <a href="{{galleryRow.photo}}" rel="gallery2" class="fancybox" title="{{galleryRow.description}}">
                <span><img class="img-responsive" src="{{galleryRow.photo}}" width="160" height="120" alt=""></span>
              </a>
            </div>
            {{galleryRow.description}}
          </div>
        </div>

    </div>


	</div>

  <div class="col-md-3">
			<div class="margin-bottom-50">
				<h2 class="title-v4">More in Pictures <i class="fa fa-camera"></i></h2>

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="/gallery-champions-list" routerLink="/gallery-champions-list">Champions</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="/gallery-on-court" routerLink="gallery-on-court">On The Court</a></h3>
				</div>

				<hr class="hr-xs">

				<div class="blog-thumb-v3">
					<small>Pictures</small>
					<h3><a href="gallery-off-court" routerLink="gallery-off-court">Off The Court</a></h3>
				</div>

			</div>
	</div>