<div class="col-md-9">
		<div class="panel panel-black equal-height-column">
			<div class="panel-heading">
				<h3 class="panel-title">USAV Registration</h3>
			</div>
			<div class="panel-body">
        <p>USAV is the governing body of New England club volleyball. The membership fee is comprised of USA Volleyball membership ($22.50) and Regional Membership ($22.50). This covers everything from National teams to player insurance on the regional and national level. On the Regional level the fee goes to programming and development of coaches and players. Our region does not have an office or paid staff so the fees go back to programming for the sport.</p>

        <p>In the past this was added into your Pumas fee and then paid to USAV by the club. However, this was a time consuming effort at all levels (club, regionally, and nationally). Starting with our 2014 season you must pay online when you register or re-register. Pumas will not pay your USAV membership and no player will be allowed to tryout without their current USAV card.</p>

        <h4>Instructions</h4>
        <ul>
          <li>You will need a parent or guardian with you, to provide a driver's license or state ID number. This is used instead of a parent's signature on paper.</li>
          <li>You will need a credit card to pay online.</li>
          <li>Proceed to section A or B below.</li>
        </ul>

        <div class="panel panel-blue">
          <div class="panel-heading">
            <h3 class="panel-title">A. I have played for a JO club in the past two seasons</h3>
          </div>
          <div class="panel-body">
            <p>If you have played for a Junior Olympics (JO) club (any JO club, not just Pumas), you should already have a NERVA login.
            <ol>
              <li>Copy the USAV Membership Login URL: <strong>https://webpoint.usavolleyball.org/wp15/IntraLock/Login.wp</strong>, open a new tab or browser window and paste it to go to the USAV web site.</li>
              <li>Enter your username and password. If you don't remember your username or password, there is a link to click so they can email it to you. Keep these in a safe place, you'll need them every year.</li>
              <li>Click on "Renew Online" on the left.</li>
              <li>On the second page, in the top right, select <strong>Andover Pumas or Pumas</strong> from the pulldown for Club unless you are undecided (trying out for multiple clubs), in which case select "UNDECIDED". If you choose UNDECIDED you will have to change it later when you decide which club to play for.</li>
              <li>Print your card - go to the menu on the left side of the page and click on "Print Membership Card".</li>
              <li>Print the Waiver and Release of Liability form (it shows up at the end; they also email it to you) and bring it to the tryout to prove your registration. It must have your name, a current acceptance date, and say "Electronic Signature received".</li>
            </ol>
          </div>					
        </div>

        <div class="panel panel-green">
          <div class="panel-heading">
            <h3 class="panel-title">B. I have not played for any JO club in the past two seasons</h3>
          </div>
          <div class="panel-body">
            <ol>
                <li>Copy the USAV Membership Join URL: <strong>https://webpoint.usavolleyball.org/wp/Memberships/join.wp?mbr_ChapterID=25971</strong>, open a new tab or browser window and paste it to go to the USAV web site.</li>
              <li>Fill out all the information required and submit the form. You will receive an email with your login information. Keep these in a safe placeas you will need them every year.</li>
              <li>Click on "Renew Online" on the left.</li>
              <li>On the second page, in the top right, select <strong>Andover Pumas or Pumas</strong> from the pulldown for Club unless you are undecided (trying out for multiple clubs), in which case select "UNDECIDED". If you choose UNDECIDED you will have to change it later when you decide which club to play for.</li>
              <li>Print your card - go to the menu on the left side of the page and click on "Print Membership Card".</li>
              <li>Print the Waiver and Release of Liability form (it shows up at the end; they also email it to you) and bring it to the tryout to prove your registration. It must have your name, a current acceptance date, and say "Electronic Signature received".</li>
            </ol>
          </div>					
        </div>

      </div>					
		</div>
</div>

<app-tryout-side-menu></app-tryout-side-menu>