<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">2019 Volleyball Camps</h3>
        </div>
        <div class="panel-body">
            <div clas="table-responsive">
                <table id="summer-camps" class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th width='20%'>Name</th>
                            <th width='10%'>Gen Info</th>
                            <th width='10%'>Director</th>
                            <th width='10%'>Dates</th>
                            <th width='10%'>Cost</th>
                            <th width='30%'>Contact Info</th>
                            <th width='10%'>Web Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>American University</td>
                            <td>All positions</td>
                            <td>Barry Goldberg</td>
                            <td>Multiple</td>
                            <td>$250-$500</td>
                            <td><a href='mailto:americanvolleyballcamps@gmail.com'>americanvolleyballcamps@gmail.com</a></td>
                            <td><a href="https://www.americanvolleyballcamps.com" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Bay State Games</td>
                            <td>Tournament (UMass Boston)</td>
                            <td>Gannon Paris</td>
                            <td>7/13-14</td>
                            <td>$30-$90</td>
                            <td>Tryouts June (TBD)</td>
                            <td><a href="http://www.baystategames.org/volleyball" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Boston College</td>
                            <td>&nbsp;</td>
                            <td>Marissa Prinzbach</td>
                            <td>Multiple</td>
                            <td>$199-$529</td>
                            <td><a href='mailto:vball@bc.edu'>vball@bc.edu</a><br/>
                            617-552-1822</td>
                            <td><a href="https://camps.jumpforward.com/bcvolleyballcamps" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Cape Cod Volleyball Camps</td>
                            <td>HS session</td>
                            <td>Tom Turco</td>
                            <td>7/8-11 &amp; 7/15-18</td>
                            <td>$350</td>
                            <td><a href='mailto:capecodvolleyball@comcast.net'>capecodvolleyball@comcast.net</a><br />
                            508-776-2972</td>
                            <td><a href="http://www.capecodvolleyball.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Cape Cod Volleyball Camps</td>
                            <td>Youth (Grades 5-9)</td>
                            <td>Tom Turco</td>
                            <td>7/15-18</td>
                            <td>$350</td>
                            <td><a href='mailto:capecodvolleyball@comcast.net'>capecodvolleyball@comcast.net</a><br />
                            508-776-2972</td>
                            <td><a href="http://www.capecodvolleyball.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dartmouth Volleyball Camp</td>
                            <td>Overnight Adv. Camp</td>
                            <td>&nbsp;</td>
                            <td>7/7-10 &amp; 7/15-18</td>
                            <td>$570-$670</td>
                            <td><a href='mailto:dartmouthvolleyballcamps@gmail.com'>dartmouthvolleyballcamps@gmail.com</a><br/>
                            603-646-8211</td>
                            <td><a href="http://www.doronvolleyballcamps.com/advanced-overnight-camp.cfm" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dartmouth Volleyball Camp</td>
                            <td>Individual Day Camp</td>
                            <td>&nbsp;</td>
                            <td>8/12-15</td>
                            <td>$570-$670</td>
                            <td><a href='mailto:dartmouthvolleyballcamps@gmail.com'>dartmouthvolleyballcamps@gmail.com</a><br/>
                            603-646-8211</td>
                            <td><a href="http://www.doronvolleyballcamps.com/advanced-overnight-camp.cfm" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dean College + Behn Camps</td>
                            <td>High School</td>
                            <td>Behn Staff</td>
                            <td>8/5-7 Nights</td>
                            <td>$99-$145</td>
                            <td>1-800-645-3226</td>
                            <td><a href="https://www.ussportscamps.com/volleyball/behn/behn-volleyball-camp-dean-college" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dean College + Behn Camps</td>
                            <td>Youth (Grade 5-8)</td>
                            <td>Behn Staff</td>
                            <td>8/5-7 Nights</td>
                            <td>$99-$145</td>
                            <td>1-800-645-3226</td>
                            <td><a href="https://www.ussportscamps.com/volleyball/behn/behn-volleyball-camp-dean-college" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Endicott Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Tim Byram</td>
                            <td>7/6-9 &amp; 7/10-13</td>
                            <td>$575</td>
                            <td>978-232-2443</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/endicott-college-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Gold Medal Squared</td>
                            <td>Tewksbury HS</td>
                            <td>Ali Luppi</td>
                            <td>8/12-15</td>
                            <td>$400</td>
                            <td><a href='mailto:luppia.volleyball@gmail.com'>luppia.volleyball@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/GMS 2019 flyer.pdf" target="_blank">Flyer</a><br /><a href="http://www.goldmedalsquared.com/register">Registration</a></td>
                        </tr>
                        <tr>
                            <td>Gordon College Camp</td>
                            <td>Team - Individual Day Camp</td>
                            <td>Sue Kelly</td>
                            <td>7/27-8/2</td>
                            <td>$325</td>
                            <td><a href='mailto:Sue.Kelly@gordon.edu'>Sue.Kelly@gordon.edu</a><br/>
                            978-867-4324</td>
                            <td><a href="https://clubs.bluesombrero.com/Default.aspx?tabid=444456" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Masspike Camps</td>
                            <td>&nbsp;</td>
                            <td>Karyn Altman</td>
                            <td>Multiple</td>
                            <td>TBD</td>
                            <td><a href='mailto:masspikevolleyball@gmail.com'>masspikevolleyball@gmail.com</a><br/>
                            978-226-8781</td>
                            <td><a href="http://www.masspikevolleyball.com/summersessionlist.html" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Maine Juniors Camps</td>
                            <td>Skills, Position</td>
                            <td>Multiple</td>
                            <td>Multiple</td>
                            <td>See Website</td>
                            <td><a href='mailto:info@mainejuniors.org'>info@mainejuniors.org</a></td>
                            <td><a href="/assets/files/flyers/MaineVolleyballSummerCamps2019.pdf" target="_blank">Flyer</a><br />
                                <a href="https://mainejuniors.org" target="_blank">Web Site</a>
                        </tr>
                        <tr>
                            <td>Pace College</td>
                            <td>Day Camp</td>
                            <td>Karrin Moore</td>
                            <td>8/12-15</td>
                            <td>$215-$425</td>
                            <td><a href='mailto:kmoore@pace.edu'>kmoore@pace.edu</a><br/>
                            800-645-3226</td>
                            <td><a href="https://www.ussportscamps.com/volleyball/nike/nike-volleyball-camp-pace-university#detailsContent" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Sacred Heart University</td>
                            <td>Position &amp; Adv. Camps</td>
                            <td>Rob Machan</td>
                            <td>Multiple</td>
                            <td>$205-$625</td>
                            <td>1-800-645-3226</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/sacred-heart-university-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Stonehill College</td>
                            <td>Skills (Day &amp; overnight)</td>
                            <td>Kathleen Colpoys</td>
                            <td>7/30-8/2</td>
                            <td>$300-$475</td>
                            <td><a href='mailto:stonehillsportscamp@stonehill.edu'>stonehillsportscamp@stonehill.edu</a><br/>
                            508-565-1615</td>
                            <td><a href="http://stonehillskyhawks.com/camps/vball/home" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Stonehill College</td>
                            <td>Elite (Overnight)</td>
                            <td>Kathleen Colpoys</td>
                            <td>7/26-29</td>
                            <td>$475</td>
                            <td><a href='mailto:stonehillsportscamp@stonehill.edu'>stonehillsportscamp@stonehill.edu</a><br/>
                            508-565-1615</td>
                            <td><a href="http://stonehillskyhawks.com/camps/vball/home" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Tufts Volleyball Camps + Clinics</td>
                            <td>Position clinics</td>
                            <td>Cora Thompson</td>
                            <td>Multiple</td>
                            <td>$30-$395</td>
                            <td><a href='mailto:cora.thompson@tufts.edu'>cora.thompson@tufts.edu</a><br/>
                            617-627-5471</td>
                            <td><a href="http://www.jumbovolleyballclinics.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>UNH Individual Camp</td>
                            <td>&nbsp;</td>
                            <td>Dan Hayes</td>
                            <td>7/14-17 &amp; 7/18-21</td>
                            <td>$500-$550</td>
                            <td><a href='mailto:daniel.hayes@unh.edu'>daniel.hayes@unh.edu</a></td>
                            <td><a href="https://unhwildcats.com/sports/2015/4/21/GEN_20140101104.aspx" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Villanova Volleyball Camp</td>
                            <td>Clinics + camps</td>
                            <td>Joshua Steinbach</td>
                            <td>Multiple dates</td>
                            <td>$75-$485</td>
                            <td><a href='mailto:mainlinevb@gmail.com'>mainlinevb@gmail.com</a><br/>
                            610-519-4137</td>
                            <td><a href="http://www.vuvbcamps.com/events" target="_blank">Web Site</a></td>
                        </tr>
<!--
                        <tr>
                            <td>Volleyball MD - <br />Indoor Program</td>
                            <td>Lowell Catholic</td>
                            <td><img src="/assets/img/pumas.gif"> Bruce Shainwald</td>
                            <td>Thu 7/11 - 8/8</td>
                            <td>$180</td>
                            <td><a href='mailto:pumasemerald@gmail.com'>pumasemerald@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2019 Programs.pdf" target="_blank">Flyer</a><br />
                            <a href='https://www.volleyballmd.net' target='_blank'>Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - <br />Beach Program</td>
                            <td>Plaistow YMCA</td>
                            <td><img src="/assets/img/pumas.gif"> Mike Ezekiel</td>
                            <td>Tue 7/2 - 8/13</td>
                            <td>$150</td>
                            <td><a href='mailto:mike.ezekiel@gmail.com'>mike.ezekiel@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2019 Programs.pdf" target="_blank">Flyer</a><br />
                            <a href='https://www.volleyballmd.net' target='_blank'>Web Site</a></td>
                        </tr>
-->
                        <tr>
                            <td>Wheaton College Volleyball Camps</td>
                            <td>&nbsp;</td>
                            <td>Craig Letourneau</td>
                            <td>Multiple</td>
                            <td>$80-$120</td>
                            <td><a href='mailto:Craig3224@live.com'>Craig3224@live.com</a><br/>
                            401-241-6398</td>
                            <td><a href="http://athletics.wheatoncollege.edu/information/camps/index" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Woburn Readiness Camp</td>
                            <td>Woburn High School</td>
                            <td>Scott Roy</td>
                            <td>8/19 - 21</td>
                            <td>$95</td>
                            <td><a href='mailto:woburnvolleyball@gmail.com'>Woburn Tanners</a></td>
                            <td><a href="https://docs.google.com/document/d/17oF_maXJuXixb_sMz2BrfzvGwJ5dF6czuXFGFplFms4/edit" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Woburn Sub-Varsity Summer League</td>
                            <td>Woburn High School</td>
                            <td>Scott Roy</td>
                            <td>Multiple</td>
                            <td>$85/team</td>
                            <td><a href='mailto:woburnvolleyball@gmail.com'>Woburn Tanners</a></td>
                            <td><a href="https://docs.google.com/document/d/1wP6nIXmHchbgA-5vV2p88vw5q1l3KlViopL4zkr4FvA/edit#" target="_blank">Web Site</a></td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>    
</div>

<app-links-side-menu></app-links-side-menu>