<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">2017 Volleyball Camps</h3>
        </div>
        <div class="panel-body">
            <div clas="table-responsive">
                <table id="summer-camps" class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th width='20%'>Name</th>
                            <th width='10%'>Gen Info</th>
                            <th width='10%'>Director</th>
                            <th width='10%'>Dates</th>
                            <th width='10%'>Cost</th>
                            <th width='30%'>Contact Info</th>
                            <th width='10%'>Web Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Assumption College</td>
                            <td>&nbsp;</td>
                            <td>Elyse Rowland </td>
                            <td>7/17-20</td>
                            <td>$130</td>
                            <td><a href='mailto:e.rowland@assumption.edu'>e.rowland@assumption.edu</a></td>
                            <td><a href="/assets/files/flyers/2017 Assumption College Volleyball Summer Camp.docx" target="_blank">Flyer</a></td>
                        </tr>
                        <tr>
                            <td>Boston College</td>
                            <td>&nbsp;</td>
                            <td>Allison Keeley</td>
                            <td>Multiple</td>
                            <td>$300-$430</td>
                            <td><a href='mailto:vball@bc.edu'>vball@bc.edu</a><br/>
                            702-528-4226</td>
                            <td><a href="https://camps.jumpforward.com/bcvolleyballcamps" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Cape Cod Volleyball Camps</td>
                            <td>Very popular</td>
                            <td>Tom Turco</td>
                            <td>7/10-13 &amp; 7/17-20</td>
                            <td>$350</td>
                            <td><a href='mailto:capecodvolleyball@comcast.net'>capecodvolleyball@comcast.net</a><br />
                            508-776-2972</td>
                            <td><a href="http://www.capecodvolleyball.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dartmouth Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Gilad Doron</td>
                            <td>7/9-12; 7/13-16; 7/17-20</td>
                            <td>$540-$640</td>
                            <td><a href='mailto:dartmouthvolleyballcamps@gmail.com'>dartmouthvolleyballcamps@gmail.com</a><br/>
                            603-646-8211</td>
                            <td><a href="http://www.doronvolleyballcamps.com/advanced-overnight-camp.cfm" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Endicott Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Tim Byram</td>
                            <td>7/2-6</td>
                            <td>$560-$660</td>
                            <td>978-232-2443</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/endicott-college-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Gold Medal Squared</td>
                            <td>Tewksbury H.S.</td>
                            <td>Tom Melton</td>
                            <td>8/14 - 8/17</td>
                            <td>$400</td>
                            <td>530-520-3909</td>
                            <td><a href="https://www.goldmedalsquared.com/volleyball-camps/" target="_blank">Information</a> <a href="https://www.goldmedalsquared.com/registration-center/">Registration</a> </td>
                        </tr>
                        <tr>
                            <td>Joel Dearing Volleyball Academy Commuter Camp</td>
                            <td>&nbsp;</td>
                            <td>Moira Long</td>
                            <td>7/11-14</td>
                            <td>$315</td>
                            <td><a href='mailto:jbdearing@aol.com'>jbdearing@aol.com</a><br/>
                            413-748-3251</td>
                            <td><a href="http://dearingvolleyballschool.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Joel Dearing Volleyball Academy Elite Camp</td>
                            <td>&nbsp;</td>
                            <td>Moira Long</td>
                            <td>7/9-11</td>
                            <td>$400</td>
                            <td><a href='mailto:jbdearing@aol.com'>jbdearing@aol.com</a><br/>
                            413-748-3251</td>
                            <td><a href="http://dearingvolleyballschool.com/" target="_blank">Web Site</a> </td>
                        </tr>
                        <tr>
                            <td>Kean College Prep Camp</td>
                            <td>&nbsp;</td>
                            <td>Don Perkins</td>
                            <td>7/19-21</td>
                            <td>$220</td>
                            <td><a href='mailto:doperkin@kean.edu'>doperkin@kean.edu</a><br/>
                            908-737-0609</td>
                            <td><a href="/assets/files/flyers/2017 Elite Volleyball College Prep Camp.pdf" target="_blank">Flyer</a><br />
                                <a href="http://www.keanathletics.com/camps/camps-list" target="_blank">Web Site</a> 
                            
                            </td>
                        </tr>
                        <tr>
                            <td>Mack’s Volleyball Hitting Camps</td>
                            <td>Thursdays</td>
                            <td><img src="/assets/img/pumas.gif"> Mikaela MacKinnon</td>
                            <td>6/29 - 8/3</td>
                            <td>$210</td>
                            <td><a href='mailto:mackinnonvolleyball@gmail.com'>mackinnonvolleyball@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/Mack’s Volleyball Summer Camps.pdf" target="_blank">Flyer</a><br />
                                <a href="http://mackinnonvolleyball.com" target="_blank">Website</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mack’s Volleyball Passing Camps</td>
                            <td>Tuesdays</td>
                            <td><img src="/assets/img/pumas.gif"> Mikaela MacKinnon</td>
                            <td>6/27 - 8/1</td>
                            <td>$210</td>
                            <td><a href='mailto:mackinnonvolleyball@gmail.com'>mackinnonvolleyball@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/Mack’s Volleyball Summer Camps.pdf" target="_blank">Flyer</a><br />
                                <a href="http://mackinnonvolleyball.com" target="_blank">Website</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Masspike Camps</td>
                            <td>&nbsp;</td>
                            <td>Karyn Altman</td>
                            <td>Multiple</td>
                            <td>$195-$495</td>
                            <td><a href='mailto:masspikevolleyball@gmail.com'>masspikevolleyball@gmail.com</a><br/>
                            978-226-8781</td>
                            <td><a href="http://www.masspikevolleyball.com/summersessionlist.html" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Pat Powers Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Pat Powers</td>
                            <td>6/10-11</td>
                            <td>$135</td>
                            <td>760-635-3994</td>
                            <td><a href="http://www.vbclinics.com/register.asp?lid=49" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Plymouth State Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Chris Kilmer</td>
                            <td>7/10-13</td>
                            <td>$150/$200</td>
                            <td><a href="mailto:cjkilmer@plymouth.edu">cjkilmer@plymouth.edu</a></td>
                            <td><a href="/assets/files/flyers/2017 PSU Volleyball Summer Camp Brochure.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rivier University Hitters Clinic</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>8/7</td>
                            <td>$75</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball Hitting Clinic.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rivier University Team Playdate</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>8/9</td>
                            <td>$120 per team</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball team play-date.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rivier University Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>7/24-27, 7/31-8/3</td>
                            <td>$150</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball camp-inside.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sacred Heart University</td>
                            <td>Advance Camp</td>
                            <td>Rob Machan</td>
                            <td>7/22-25 &amp; 8/3-6</td>
                            <td>$510-$610</td>
                            <td>1-800-645-3226</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/sacred-heart-university-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Sacred Heart University</td>
                            <td>Position Camp</td>
                            <td>Rob Machan</td>
                            <td>7/25-26 &amp; 8/2-3</td>
                            <td>$145-$195</td>
                            <td>1-800-645-3226</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/sacred-heart-university-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Sacred Heart University</td>
                            <td>All Skills Camp</td>
                            <td>Rob Machan</td>
                            <td>7/29-8/1</td>
                            <td>$490-$590</td>
                            <td>1-800-645-3226</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/sacred-heart-university-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Stonehill College</td>
                            <td>Grades 6-12</td>
                            <td>Kathleen Colpoys</td>
                            <td>7/31-8/3 &amp; 8/4-7</td>
                            <td>$299-$499</td>
                            <td><a href='mailto:stonehillsportscamp@stonehill.edu'>stonehillsportscamp@stonehill.edu</a><br/>
                            508-565-1615</td>
                            <td><a href="http://stonehillskyhawks.com/camps/vball/home" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Summer Hitters Program</td>
                            <td>Thur</td>
                            <td><img src="/assets/img/pumas.gif"> Steve McRoy</td>
                            <td>Starts 6/1</td>
                            <td>Min $100 /$25 session after</td>
                            <td><a href='mailto:steve_mcroy@verizon.net'>steve_mcroy@verizon.net</a><br/>
                            978-852-0744</td>
                            <td><a href="/assets/files/flyers/Summer Volleyball Hitting Brochure 2017.pdf" target="_blank">Flyer</a></td>
                        </tr>
                        <tr>
                            <td>Tufts Volleyball Camps + Clinics</td>
                            <td>&nbsp;</td>
                            <td>Cora Thompson</td>
                            <td>Multiple</td>
                            <td>$30-$395</td>
                            <td><a href='mailto:cora.thompson@tufts.edu'>cora.thompson@tufts.edu</a><br/>
                            617-627-5471</td>
                            <td><a href="http://www.jumbovolleyballclinics.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>UMass Boston</td>
                            <td>2 day clinic</td>
                            <td>Shannon Thompson </td>
                            <td>7/22-23</td>
                            <td>$250</td>
                            <td><a href='mailto:shannon.thompson002@umb.edu'>shannon.thompson002@umb.edu</a><br/>
                            805-990-4342</td>
                            <td><a href="http://www.beaconsvolleyballclinics.com/camps.php" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>UMass Lowell Individual Camp</td>
                            <td>&nbsp;</td>
                            <td>Lauren DeTurk</td>
                            <td>8/2-4</td>
                            <td>$275-$325</td>
                            <td><a href='mailto:lauren_deturk@uml.edu'>lauren_deturk@uml.edu</a><br/>
                            978-934-6082</td>
                            <td><a href="http://goriverhawks.com/news/2017/3/21/womens-volleyball-river-hawks-announce-pair-of-volleyball-clinics.aspx" target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>UMass Lowell Tuesday Night Clinic</td>
                            <td>&nbsp;</td>
                            <td>Lauren DeTurk</td>
                            <td>7/11 - 8/8</td>
                            <td>$260/$60</td>
                            <td><a href='mailto:lauren_deturk@uml.edu'>lauren_deturk@uml.edu</a><br/>
                            978-934-6082</td>
                            <td><a href="http://goriverhawks.com/news/2017/3/21/womens-volleyball-river-hawks-announce-pair-of-volleyball-clinics.aspx" target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>UNH Elite Camp</td>
                            <td>&nbsp;</td>
                            <td>Stacy Barnett</td>
                            <td>7/14-16</td>
                            <td>$375</td>
                            <td><a href='mailto:stacy.barnett@unh.edu'>stacy.barnett@unh.edu</a></td>
                            <td><a href="http://www.unhwildcats.com/sports/2015/4/21/GEN_20140101103.aspx?id=103" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>UNH Individual Camp</td>
                            <td>&nbsp;</td>
                            <td>Stacy Barnett</td>
                            <td>7/16-20</td>
                            <td>$525</td>
                            <td><a href='mailto:stacy.barnett@unh.edu'>stacy.barnett@unh.edu</a></td>
                            <td><a href="http://www.unhwildcats.com/sports/2015/4/21/GEN_20140101104.aspx?id=104" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Villanova Volleyball Camp</td>
                            <td>Indoor + Sand</td>
                            <td>Amy Pauly</td>
                            <td>Multiple dates</td>
                            <td>$75-$500</td>
                            <td><a href='mailto:mainlinevb@gmail.com'>mainlinevb@gmail.com</a><br/>
                            610-519-4137</td>
                            <td><a href="https://camps.jumpforward.com/vuvbcamps" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - Indoor Program</td>
                            <td>Lowell Catholic</td>
                            <td><img src="/assets/img/pumas.gif"> Bruce Shainwald</td>
                            <td>Tue 7/11 - 8/15</td>
                            <td>$150</td>
                            <td><a href='mailto:pumasemerald@gmail.com'>pumasemerald@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2017 Programs.pdf" target="_blank">Download Flyer</a></td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - Beach Program</td>
                            <td>Plaistow YMCA</td>
                            <td><img src="/assets/img/pumas.gif"> Mike Ezekiel</td>
                            <td>Thu 7/13 - 8/17</td>
                            <td>$150</td>
                            <td><a href='mailto:mike.ezekiel@gmail.com'>mike.ezekiel@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2017 Programs.pdf" target="_blank">Download Flyer</a></td>
                        </tr>
                        <tr>
                            <td>Wheaton College Volleyball Camps</td>
                            <td>Hitters &amp; Diggers<br/>Skills Clinic</td>
                            <td>Craig Letourneau</td>
                            <td>6/9-10; 7/5-7; 8/7-9; 8/14-15</td>
                            <td>$80-$120</td>
                            <td><a href='mailto:Craig3224@live.com'>Craig3224@live.com</a><br/>
                            401-241-6398</td>
                            <td><a href="http://athletics.wheatoncollege.edu/information/camps/index" target="_blank">Web Site</a></td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>    
</div>

<app-links-side-menu></app-links-side-menu>