<div class="col-md-9">
    <div class="panel panel-black equal-height-column">
        <div class="panel-heading">
            <h3 class="panel-title">2018 Volleyball Camps</h3>
        </div>
        <div class="panel-body">
            <div clas="table-responsive">
                <table id="summer-camps" class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            <th width='20%'>Name</th>
                            <th width='10%'>Gen Info</th>
                            <th width='10%'>Director</th>
                            <th width='10%'>Dates</th>
                            <th width='10%'>Cost</th>
                            <th width='30%'>Contact Info</th>
                            <th width='10%'>Web Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Boston College</td>
                            <td>&nbsp;</td>
                            <td>Marissa Prinzbach</td>
                            <td>Multiple</td>
                            <td>$300-$529</td>
                            <td><a href='mailto:vball@bc.edu'>vball@bc.edu</a><br/>
                            702-528-4226</td>
                            <td><a href="https://camps.jumpforward.com/bcvolleyballcamps" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Cape Cod Volleyball Camps</td>
                            <td>Very popular</td>
                            <td>Tom Turco</td>
                            <td>7/9-12 &amp; 7/16-19</td>
                            <td>$350</td>
                            <td><a href='mailto:capecodvolleyball@comcast.net'>capecodvolleyball@comcast.net</a><br />
                            508-776-2972</td>
                            <td><a href="http://www.capecodvolleyball.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Dartmouth Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>7/7-10 &amp; 7/11-14</td>
                            <td>$570-$670</td>
                            <td><a href='mailto:dartmouthvolleyballcamps@gmail.com'>dartmouthvolleyballcamps@gmail.com</a><br/>
                            603-646-8211</td>
                            <td><a href="http://www.doronvolleyballcamps.com/advanced-overnight-camp.cfm" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Endicott Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Tim Byram</td>
                            <td>7/8-12</td>
                            <td>$575-$675</td>
                            <td>978-232-2443</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/endicott-college-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Gold Medal Squared</td>
                            <td>Tewksbury H.S.</td>
                            <td>Allison Luppi</td>
                            <td>8/13 - 8/16</td>
                            <td>$400</td>
                            <td><a href='mailto:luppia.volleyball@gmail.com'>luppia.volleyball@gmail.com</a></td>
                            <td><a href="https://www.goldmedalsquared.com/volleyball-camps/" target="_blank">Information</a><br /><a href="https://www.goldmedalsquared.com/registration-center/">Registration</a></td>
                        </tr>
<!--
                        <tr>
                            <td>Joel Dearing Volleyball Academy Commuter Camp</td>
                            <td>&nbsp;</td>
                            <td>Moira Long</td>
                            <td>7/11-14</td>
                            <td>$315</td>
                            <td><a href='mailto:jbdearing@aol.com'>jbdearing@aol.com</a><br/>
                            413-748-3251</td>
                            <td><a href="http://dearingvolleyballschool.com/" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Joel Dearing Volleyball Academy Elite Camp</td>
                            <td>&nbsp;</td>
                            <td>Moira Long</td>
                            <td>7/9-11</td>
                            <td>$400</td>
                            <td><a href='mailto:jbdearing@aol.com'>jbdearing@aol.com</a><br/>
                            413-748-3251</td>
                            <td><a href="http://dearingvolleyballschool.com/" target="_blank">Web Site</a> </td>
                        </tr>
-->
                        <tr>
                            <td>Masspike Camps</td>
                            <td>&nbsp;</td>
                            <td>Karyn Altman</td>
                            <td>Multiple</td>
                            <td>$215-$460</td>
                            <td><a href='mailto:masspikevolleyball@gmail.com'>masspikevolleyball@gmail.com</a><br/>
                            978-226-8781</td>
                            <td><a href="http://www.masspikevolleyball.com/summersessionlist.html" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Pat Powers Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Pat Powers</td>
                            <td>6/9-10</td>
                            <td>$135</td>
                            <td>760-473-8236</td>
                            <td><a href="http://www.vbclinics.com/register.asp?lid=49" target="_blank">Web Site</a></td>
                        </tr>
<!--
                        <tr>
                            <td>Rivier University Hitters Clinic</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>8/7</td>
                            <td>$75</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball Hitting Clinic.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rivier University Team Playdate</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>8/9</td>
                            <td>$120 per team</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball team play-date.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rivier University Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Craig Kolek</td>
                            <td>7/24-27, 7/31-8/3</td>
                            <td>$150</td>
                            <td><a href="mailto:ckolek@rivier.edu">ckolek@rivier.edu</a></td>
                            <td><a href="/assets/files/flyers/v-ball camp-inside.pdf" target="_blank">Flyer</a>
                            </td>
                        </tr>
-->
                        <tr>
                            <td>Sacred Heart University</td>
                            <td>All Skills Camp</td>
                            <td>Rob Machan</td>
                            <td>Multiple</td>
                            <td>$205-$625</td>
                            <td>1-800-645-3226</td>
                            <td><a href="http://www.ussportscamps.com/volleyball/nike/sacred-heart-university-nike-volleyball-camp" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Stonehill College</td>
                            <td>Grades 6-12</td>
                            <td>Kathleen Colpoys</td>
                            <td>7/27-30 &amp; 7/31-8/3</td>
                            <td>$299-$499</td>
                            <td><a href='mailto:stonehillsportscamp@stonehill.edu'>stonehillsportscamp@stonehill.edu</a><br/>
                            508-565-1615</td>
                            <td><a href="http://stonehillskyhawks.com/camps/vball/home" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Tufts Volleyball Camps + Clinics</td>
                            <td>&nbsp;</td>
                            <td>Cora Thompson</td>
                            <td>Multiple</td>
                            <td>$30-$395</td>
                            <td><a href='mailto:cora.thompson@tufts.edu'>cora.thompson@tufts.edu</a><br/>
                            617-627-5471</td>
                            <td><a href="http://www.jumbovolleyballclinics.com/" target="_blank">Web Site</a></td>
                        </tr>
<!--
                        <tr>
                            <td>UMass Lowell Individual Camp</td>
                            <td>&nbsp;</td>
                            <td>Lauren DeTurk</td>
                            <td>8/2-4</td>
                            <td>$275-$325</td>
                            <td><a href='mailto:lauren_deturk@uml.edu'>lauren_deturk@uml.edu</a><br/>
                            978-934-6082</td>
                            <td><a href="http://goriverhawks.com/news/2017/3/21/womens-volleyball-river-hawks-announce-pair-of-volleyball-clinics.aspx" target="_blank">Web Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>UMass Lowell Tuesday Night Clinic</td>
                            <td>&nbsp;</td>
                            <td>Lauren DeTurk</td>
                            <td>7/11 - 8/8</td>
                            <td>$260/$60</td>
                            <td><a href='mailto:lauren_deturk@uml.edu'>lauren_deturk@uml.edu</a><br/>
                            978-934-6082</td>
                            <td><a href="http://goriverhawks.com/news/2017/3/21/womens-volleyball-river-hawks-announce-pair-of-volleyball-clinics.aspx" target="_blank">Web Site</a>
                            </td>
                        </tr>
-->
                        <tr>
                            <td>UNH Elite Camp</td>
                            <td>&nbsp;</td>
                            <td>Stacy Barnett</td>
                            <td>7/13-15</td>
                            <td>$375</td>
                            <td><a href='mailto:stacy.barnett@unh.edu'>stacy.barnett@unh.edu</a></td>
                            <td><a href="http://www.unhwildcats.com/sports/2015/4/21/GEN_20140101103.aspx?id=103" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>UNH Individual Camp</td>
                            <td>&nbsp;</td>
                            <td>Stacy Barnett</td>
                            <td>7/15-19</td>
                            <td>$500-$550</td>
                            <td><a href='mailto:stacy.barnett@unh.edu'>stacy.barnett@unh.edu</a></td>
                            <td><a href="http://www.unhwildcats.com/sports/2015/4/21/GEN_20140101104.aspx?id=104" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Villanova Volleyball Camp</td>
                            <td>&nbsp;</td>
                            <td>Joshua Steinbach</td>
                            <td>Multiple dates</td>
                            <td>$75-$485</td>
                            <td><a href='mailto:mainlinevb@gmail.com'>mainlinevb@gmail.com</a><br/>
                            610-519-4137</td>
                            <td><a href="https://camps.jumpforward.com/vuvbcamps" target="_blank">Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - <br />Indoor Program</td>
                            <td>Lowell Catholic</td>
                            <td><img src="/assets/img/pumas.gif"> Bruce Shainwald</td>
                            <td>Tue 7/12 - 8/9</td>
                            <td>$180</td>
                            <td><a href='mailto:pumasemerald@gmail.com'>pumasemerald@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2018 Programs.pdf" target="_blank">Flyer</a><br />
                            <a href='https://www.volleyballmd.net' target='_blank'>Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Volleyball MD - <br />Beach Program</td>
                            <td>Plaistow YMCA</td>
                            <td><img src="/assets/img/pumas.gif"> Mike Ezekiel</td>
                            <td>Thu 7/10 - 8/14</td>
                            <td>$150</td>
                            <td><a href='mailto:mike.ezekiel@gmail.com'>mike.ezekiel@gmail.com</a></td>
                            <td><a href="/assets/files/flyers/VBMD Summer 2018 Programs.pdf" target="_blank">Flyer</a><br />
                            <a href='https://www.volleyballmd.net' target='_blank'>Web Site</a></td>
                        </tr>
                        <tr>
                            <td>Wheaton College Volleyball Camps</td>
                            <td>&nbsp;</td>
                            <td>Craig Letourneau</td>
                            <td>Multiple</td>
                            <td>$80-$120</td>
                            <td><a href='mailto:Craig3224@live.com'>Craig3224@live.com</a><br/>
                            401-241-6398</td>
                            <td><a href="http://athletics.wheatoncollege.edu/information/camps/index" target="_blank">Web Site</a></td>
                        </tr>
                    </tbody>    
                </table>
            </div>
        </div>
    </div>    
</div>

<app-links-side-menu></app-links-side-menu>