<!-- coaching profile -->
<div class="profile-body">
	
	<div class="profile-bio">
		<div class="row">
			<div class="col-md-5">
				<img class="img-responsive md-margin-bottom-10" src="{{profile.thumbnail}}" alt="">
			</div>
			<div class="col-md-7">
				<h2>{{profile.firstName}} {{profile.lastName}}</h2>
				<span><strong>Job:</strong> Coach</span>
				<span><strong>Position:</strong> {{profile.title}}</span>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
				<p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
			</div>
		</div>
	</div>

	<hr>

	<!-- experience timeline -->
	<div class="panel panel-profile">
		<div class="panel-heading overflow-h">
			<h2 class="panel-title heading-sm pull-left" style="color: #666;"><i class="fa fa-briefcase"></i> Coaching Experience</h2>
		</div>
		<div class="panel-body">
			<ul class="timeline-v2 timeline-me">
				<li>
					<time datetime="" class="cbp_tmtime"><span>2017</span></time>
					<i class="cbp_tmicon rounded-x hidden-xs"></i>
					<div class="cbp_tmlabel">
						<h2>Sapphire 16U</h2>
						<span class="position-label">Head Coach</span> 
					</div>
				</li>
				<li>
					<time datetime="" class="cbp_tmtime"><span>2016</span></time>
					<i class="cbp_tmicon rounded-x hidden-xs"></i>
					<div class="cbp_tmlabel">
						<h2>Pumas VBC</h2>
						<span class="position-label">Head Coach Sapphire 15U</span> 
					</div>
				</li>
				<li>
					<time datetime="" class="cbp_tmtime"><span>2015</span></time>
					<i class="cbp_tmicon rounded-x hidden-xs"></i>
					<div class="cbp_tmlabel">
						<h2>Pumas VBC: Sapphire 14U</h2>
						<span class="position-label">Head Coach</span> 
					</div>
				</li>
				<li>
					<time datetime="" class="cbp_tmtime"><span>2014</span></time>
					<i class="cbp_tmicon rounded-x hidden-xs"></i>
					<div class="cbp_tmlabel">
						<h2>Pumas VBC Onyx 18U</h2>
						<span class="position-label">Assistant Coach</span> 
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /experience timeline -->

</div>
<!-- /coaching profile -->
