<div class="col-md-9">

  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title text-center"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Coaches Education</h3>
    </div>
    <div class="panel-body">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> Tips for Sports Clubs and Coaches</li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Leadership Qualities.pdf" target="_blank">Leadership Qualities</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Here are five ways mental training can help change uncertain players into athletic leaders.pdf" target="_blank">Here are 5 ways mental training can help change uncertain players into athletic leaders</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Captains General Job Description.pdf" target="_blank">Captains General Job Description</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/Concussion_HS_athletes_fact_sheet.pdf" target="_blank">Concussion: HS Athletes Fact sheet</a></li>
        <li><i class="fa-li fa fa-book" aria-hidden="true"></i> <a href="/assets/files/education/HeadsUpConcussion_ActionPlan.pdf" target="_blank">Heads Up Concussion Action Plan</a></li>
      </ul>
    </div>
  </div>

</div>

<app-education-side-menu></app-education-side-menu><p>