  <div class="col-md-3">
		<div class="margin-bottom-50">
			<h2 class="title-v4">More in Programs</h2>

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-club" routerLink="/programs-club">Club Division</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-open" routerLink="/programs-open">Open Division</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-jnc" routerLink="/programs-jnc">Junior National Championship</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-inhouse" routerLink="/programs-inhouse">In House Skills Program</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-philosophy" routerLink="/programs-philosophy">Club Philosophy</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
			</div>

		</div>
	</div>
