  <div class="col-md-3">
		<div class="margin-bottom-50">
			<h2 class="title-v4">More in Programs</h2>

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-club" routerLink="/programs-club">Girls Club Division</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-open" routerLink="/programs-open">Girls Open Division</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-boys" routerLink="/programs-boys">Boys Program</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-12u-coed" routerLink="/programs-12u-coed">12U COED: Team Program</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-jnc" routerLink="/programs-jnc">Junior National Championship</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-inhouse" routerLink="/programs-inhouse">In House Skills Program</a></h3>
			</div>

			<hr class="hr-xs">	

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-12u-coed-fall" routerLink="/programs-12u-coed-fall">12U COED: Fall Program</a></h3>
			</div>

			<hr class="hr-xs">	

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-cost" routerLink="/programs-cost">Program Costs</a></h3>
			</div>

			<hr class="hr-xs">

			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/programs-parents-guide" routerLink="/programs-parents-guide">Parent Club Selection Guide</a></h3>
			</div>

			<hr class="hr-xs">
			
			<div class="blog-thumb-v3">
				<small>Programs</small>
				<h3><a href="/club-faq" routerLink="/club-faq">FAQ <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></h3>
			</div>

		</div>
	</div>
