<div class="row">
  <div class="col-md-9 md-margin-bottom-10">
    <app-news-announcements></app-news-announcements>

		<app-gallery-tournament-results></app-gallery-tournament-results>

    <div id="about-pumas" class="tag-box tag-box-v1">
      <h4 class="text-center">Pumas Volleyball Club</h4>
      <p>The Pumas Volleyball Club is a non-profit Junior Olympic organization dedicated to promoting the sport of volleyball for young female athletes in grades 4 through 12. Through a structured team experience composed of local weekly practices and tournaments held throughout the New England region and the Eastern United States the athletes will improve their individual and team skills.</p>
      <br />
      <p>We endeavor to develop the athlete as a whole, rather than focus on winning as the sole benchmark. We do this with dedicated coaches who not only focus on individual and group skill development but respect for their teammates, the officials and themselves. We strive for our athletes to not just be leaders in the win column but leaders in sportsmanship and knowledge of the game.</p>
      <br />
      <p>We belong to the New England Regional Volleyball Association (NERVA), and are the largest such volleyball club in Massachusetts. In 2015 we had over 40 coaches and over 250 athletes representing 70 different schools from the Eastern Massachusetts and Southern New Hampshire region. For information on our National, Open, and Club programs we offer please click on the programs button and select a page.</p>
      <img class="img-responsive" src="/assets/img/nervalogo.jpg" height="85" alt="Logo">
    </div>
    
  </div>
  <div class="col-md-3 md-margin-bottom-10">
    <app-news-recent></app-news-recent>
    <app-schedule-next></app-schedule-next>
    <app-gallery-additions></app-gallery-additions>
  </div>
</div>
