<div class="row">
  <div class="col-md-9 md-margin-bottom-20">
		<app-gallery-tournament-results></app-gallery-tournament-results>
  </div>
  <div class="col-md-3 md-margin-bottom-20">
    <app-schedule-next></app-schedule-next>
  </div>  
</div>

<div class="row">
  <div class="col-md-9 md-margin-bottom-20">
    <app-news-announcements></app-news-announcements>
  </div>
  <div class="col-md-3 md-margin-bottom-20">
    <app-news-recent></app-news-recent>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  </div>
</div>
