<div class="row">
  <div class="col-md-9 md-margin-bottom-20">
					<h2 class="title-v4">2016 Tournament Results</h2>
          <!-- Carousel -->
					<div class="owl-carousel-style-v2 margin-bottom-10">
						
						<div class="owl-slider-v3">
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA II Silver.jpg" width="160" height="120" alt="">
                Sapphire 15U NERVA II Silver 
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA V Gold.jpg" width="160" height="120" alt="">
                Sapphire 15U NERVA V Gold 
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire Doubles Tournament Queen of the Court.jpg" width="160" height="120" alt="">
                Laura Queen of Doubles 
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Ebony 15 Winterfest Team Picture.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA II Silver.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA V Gold.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire Doubles Tournament Queen of the Court.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Ebony 15 Winterfest Team Picture.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA II Silver.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire 15 NERVA V Gold.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Sapphire Doubles Tournament Queen of the Court.jpg" width="160" height="120" alt="">
							</div>
							<div class="item">
								<img class="img-responsive" src="assets/img/Ebony 15 Winterfest Team Picture.jpg" width="160" height="120" alt="">
							</div>
						</div>

					</div>
					<!-- End Carousel -->

  </div>
  <div class="col-md-3 md-margin-bottom-20">
    <app-schedule-next></app-schedule-next>
  </div>  
</div>

<div class="row">
  <div class="col-md-9 md-margin-bottom-20">
    <app-news-announcements></app-news-announcements>
  </div>
  <div class="col-md-3 md-margin-bottom-20">
    <app-news-recent></app-news-recent>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  </div>
</div>
