<div class="col-md-9">
  <div class="panel panel-black equal-height-column">
    <div class="panel-heading">
      <h3 class="panel-title">12U COED: Fall Program</h3>
    </div>
    <div class="panel-body">

      <p>Pumas will be starting our first COED 12U Fall Volleyball Program starting the fall of 2019. The program will be open to boys and girls who are 12 or younger who are interested in learning to play volleyball. Ages will be split into three groups 7-8, 9-10, and 11-12. Age groups may be combined if numbers require.</p>

      <h3>General Information</h3>

      <div class="alert alert-info">
        <h4>Program Outline</h4>

        <p>There will be two five-week sessions. The first session will start on 9/29/19. The second session will start on 11/10/19. During practice players will be using an age appropriate ball and net height. We want to pass on our love of the game while they learn the skills in a game-like environment.</p>

      </div>

      <div class="alert alert-success">
        <h4>Practices</h4>
        <p>Practices will be on Sundays for 1 hour.  Practice times will be 8:30 am - 9:30 am for those 7-10 yrs. old and 9:45 am - 10:45 am for those 11-12 yrs. old. We will practice at Lowell Catholic High School. <a href="/club-directions" routerLink="/club-directions">Directions</a> to Pumas facilities.</p>
      </div>

      <div class="alert alert-info">
        <h4>Tryouts &amp; Registration</h4>

        <p>There are no tryouts for this program. All interested players are welcome to join. There will be a limit of 15 for each age group. You do not have to register for both sessions. You can register <a href="https://www.surveymonkey.com/r/PumasCOEDFallProgram" target="_blank">here</a>. </p>

      </div>

      <div class="alert alert-success">
        <h4>Costs</h4>
        <p>Cost is $100 per player, per session. Payment info will be sent after you register.</p>
      </div>      
  
      <h4>12U COED Team Program</h4>

      <p>What to do after the fall program - For those players who like the sport and want to continue we have a COED Triple Ball program. This Program runs from the end of December to the beginning of May. Practices would be once a week on Sundays and tournaments would run from March to May with 5 Single day events. There are no tryouts for this program and all ages 8-12 are welcome. Players must be 12 or under on 8/31/20 to be eligible to play for this program. Space is limited. See <a href="/programs-12u-coed" routerLink="/programs-12u-coed">12U COED Team Programs</a> for more information.
      </p>

      <div class="alert alert-info">
        <h4>USA Volleyball Membership</h4>
        <p>All players will need a USAV membership to participate in the season and attend any sessions. This is from the National Governing Body of our sport and does not go to Pumas. There are two memberships available:
          <ul>
            <li>Full membership – Cost is $60 and is good until 8/31/20</li>
            <li>Tryout membership – Cost is $15 and is a limited membership for practices only. This membership is good until 1/31/20. You can upgrade this to a full membership for an additional $50 and it would be good for the rest of the season.</li>
          </ul>
        <br />
        <p>If you are planning on doing the 12U COED Team Program then you would need a full membership. To sign up for a USAV Membership, copy the USAV URL: <strong>https://webpoint.usavolleyball.org/wp/memberships/join.wp?mbr_ChapterID=25971</strong>, open a new tab or browser window and paste it to go to the USAV web site.</p>

      </div>    
  

    </div>  
  </div>
</div>

<app-programs-side-menu></app-programs-side-menu>